body {
	color: $bodyText;
	font-family: $secondaryFont;
	min-height: 100vh;
	overflow: hidden;
	@include linearGradientVert($primary, $primaryDark);
	@include responsive-font(2vw, 14px, 14px);
	@include responsive-lineheight(3vw, 18px, 18px);
	
	@media(max-width: 1280px) {
		margin-bottom: 50px;
	}
	
	@media(max-height: 300px) {
		margin-bottom: 0;
	}
	
	@media(max-width: $tl) {
		padding-left: 0 !important;
	}
}

img {
	width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: $spacer;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headline;
	font-weight: 400;
	@include vendor-prefix('font-smoothing', 'subpixel-antialiased');
}

h1 {
	@include responsive-font(7vw, 36px, 72px);
	@include responsive-lineheight(8vw, 42px, 84px);
}

h2 {
	@include responsive-font(5vw, 24px, 40px);
	@include responsive-lineheight(6vw, 30px, 56px);
}

h3 {
	@include responsive-font(4.5vw, 20px, 38px);
	@include responsive-lineheight(5vw, 24px, 48px);
}

h4 {
	@include responsive-font(4vw, 18px, 38px);
	@include responsive-lineheight(5vw, 24px, 48px);
}

h5 {
	@include responsive-font(3vw, 16px, 36px);
	@include responsive-lineheight(4vw, 21px, 42px);
}

h6 {
	@include responsive-font(2vw, 14px, 30px);
	@include responsive-lineheight(3vw, 18px, 36px);
}

p, strong {
	@include responsive-font(2vw, 14px, 18px);
	@include responsive-lineheight(3vw, 20px, 24px);
}

p {
	&:last-of-type {
		margin-bottom: 0;
	}
}

strong {
	font-weight: bold;
}

a {
	color: $bodyText;
	text-decoration: none;
}

label, small {
	display: block;
	margin-bottom: $spacer / 2;
}

small {
	font-size: 80%;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.logged-in {
	padding-left: 280px;
}

.page-template-default {
	margin-top: $spacer * 2;
	
	h1 {
		color: $secondary;
		margin-bottom: 0;
	}
	
	hr {
		background-color: #ffffff;
		margin: 0;
		margin-bottom: $spacer;
	}
}

.title {
	font-weight: 300;
	text-overflow: ellipsis;
	width: 100%;
	display: inline-block;
	overflow: hidden;
	white-space: pre;
}

// Content elements to have a background that is removed when the DOM loads like in Facebook and other webapps
.page-content h2, 
.page-content h3, 
.page-content h4, 
.page-content p, 
.page-content ul,
.page-content ol,  
.page-content small, 
.page-content span, 
.page-content .details, 
.inner p, 
.inner h3, 
.inner h4, 
.comp h3 {
	// opacity: 0; /* make things invisible upon start */
	// @include vendor-prefix('animation','fadeIn ease-in 1');
	// @include vendor-prefix('animation-fill-mode','forwards');
	// @include vendor-prefix('animation-duration','0.5s');
	// @include vendor-prefix('animation-delay','0.3s');
}

// Smooth content loading
.comp, .page-load {
	// opacity: 0; /* make things invisible upon start */
	// @include vendor-prefix('animation','fadeIn ease-in 1');
	// @include vendor-prefix('animation-fill-mode','forwards');
	// @include vendor-prefix('animation-duration','0.5s');
	
	&.fast-animation {
		// @include vendor-prefix('animation-duration','0.1s');
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

// Thickbox Customisations
.tb-close-icon:before {
	font-family: "iykaa-icons" !important;
	content: "\68" !important;
}

#TB_overlay {
	@include alpha-attribute('background-color', rgba($contrast, 0.6), black);
	@include vendor-prefix('backdrop-filter', 'blur(10px)');
}

#TB_closeWindowButton {
	background: none !important;
}

// Document viewer iFrame view
.document-frame {
	@include alpha-attribute('background-color', rgba($contrast, 0.6), black);
	@include vendor-prefix('backdrop-filter', 'blur(10px)');
	z-index: 1000; 
	top: 0;
	left: 0;
	position: absolute; 
	overflow: scroll;
	
	.tool-bar {
		height: 44px;
		background-color: $primary;
		color: $secondary;
		
		.frame-close {
			display: block;
			width: 100%;
			height: auto;
			z-index: 1001;
			
			&:before {
				font-family: "iykaa-icons" !important;
				content: "\68" !important;
				font-size: $spacer * 2;
				font-weight: normal;
				line-height: $spacer * 2;
				float: right;
				color: $secondary;
				padding: 2px;
			}
		}
		
		&.bottom {
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				
				li {
					width: calc(100vw / 2);
					float: left;
					color: $secondary;
					
					a {
						color: $secondary;
						width: 100%;
						height: 100%;
						display: block;
					}
					
					&:before {
						font-family: "iykaa-icons" !important;
						font-size: $spacer * 2;
						font-weight: normal;
						line-height: $spacer * 2;
						float: right;
						color: $secondary;
						padding: 2px;
						width: 100%;
						text-align: center;
					}
					
					a {
						&:before {
							font-family: "iykaa-icons" !important;
							font-size: $spacer * 2;
							font-weight: normal;
							line-height: $spacer * 2;
							float: right;
							color: $secondary;
							padding: 2px;
							width: 100%;
							text-align: center;
						}
					}
					
					&.back {
						@include vendor-prefix('transform','rotateZ(180deg)');
						
						&:before {
							content: "\63" !important;
							color: $primary;
							background-color: $secondary;
							position: relative;
							bottom: -4px;
						}
					}
					&.download {
						a {
							&:before {
								content: "\64" !important;
							}
						}
					}
				}
			}
		}
	}
}

//Google Maps

.acf-map {
	width: 100%;
	height: $spacer * 22;
	border: $secondary solid 1px;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}