.dashboard {
	background-color: $secondary;
	
	a {
		color: $primary;
	}
	
	.inner {
		text-align: center;
		padding: $spacer 0;
		
		h6 {
			font-weight: 400;
			margin: 0;
		}
		
		&:hover {
			background-color: $secondary - #222222;
		}
	}
}

.whats-happening {
	.slides {
		.news-slider-image {
			height: $spacer * 12;
			overflow: hidden;
			background-color: $bodyText;
			
			@media(max-width:$ml) {
				height: $spacer * 7;
			}
			
			&.default {
				background-color: $secondary;
				
				img {
					padding: 4vw;
					opacity: 0.8;
					@media(max-width:$ml) {
						padding: 15vw;
					}
				}
			}
		}
		
		.inner {
			height: $spacer * 10;
			
			@media(max-width:$ml) {
				height: $spacer * 9;
			}
		}
	}
}


.dashboard-v2 {
	h4 {
		margin: $spacer / 2 0;
	}
	section {

	}
	
	.feed {
		margin-bottom: $spacer;
		
		@media(max-width:$ml){
			margin-bottom: $spacer / 2;
		}
		
		h4 {
			margin: 0;
		}
		
		article {
			width: 100%;
			display: inline-block;
			
			div {
				@media(max-width:$tp - 1){
					min-height: $spacer * 4;
				}
			}
			
			.article-image {
				display: table;
				width: 100%;
				height: 300px;
				overflow: hidden;
				
				@include alpha-attribute('background-color', rgba($secondary, 0.55), black);
				
				.image-wrapper {
					display: table-cell;
					vertical-align: middle;
				}

				img {
					padding: $spacer / 2;
					max-height: $spacer * 15;
					@include vendor-prefix('object-fit','contain');

					@media(max-width:$tp){
						max-height: $spacer * 6;
					}
				}
				
				@media(max-width:$tp){
					max-height: $spacer * 6;
				}
				
				@media(max-width:$ml){
					height: auto;
					margin-bottom: 0;
					img {
						padding: $spacer / 4;
					}
				}
			}
			
			h4 {
				font-family: $headline;
				color: $secondary;
				margin: 0;
				margin-top: $spacer / 4;
				width: 100%;
				font-size: 42px;
				line-height: 58px;

				@media(max-width:$tp - 1) {
					font-size: calc(1.1vw + 1.1vh + 1.1vmin);
					line-height: calc(1.4vw + 1.4vh + 1.4vmin);
					display: inline-block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: pre;
				}
			}
			
			hr {
				margin: $spacer / 4 0;
				background-color: $primary + #333;
			}
			
			.time-stamp {
				font-size: calc(0.4vw + 0.4vh + 0.3vmin);
				margin: $spacer 0;
				
				@media(max-width:$tl){
					margin: $spacer / 2 0;
				}
				
				@media(max-width:$tp - 1) {
					font-size: calc(0.8vw + 0.8vh + 0.8vmin);
					margin-bottom: 0;
				}
			}
			
			.excerpt {
				height: $spacer * 8;
				overflow: hidden;
				
				p {
					padding: $spacer 0 $spacer * 2;
				}
			}
			
				
			.tp-force {
				@media(min-width:$tp){
					float: right;
				}
			}
			
			.find-out-more {
				
				.cta {
					display: block;
						@media(max-width:$tp - 1){
							display: none;
						}
				}
				.chevron {
					@include alpha-attribute('background-color', rgba($primary, 0.75), black);
					background-clip: content-box;
					text-align: center;
					display: block;
					padding: 0;
					margin: 0;
					
					p {
						width: 100%;
						font-family: $iykaaIcons;
						color: $secondary;
						vertical-align: middle;
						text-align: center;
						padding: 7px;
						font-size: 24px;
					}
					
					@media(max-width:$tp - 1){
						float: none;
						width: 100%;
						p {
							font-size: calc(1.8vw + 1.8vh + 1.8vmin);
							padding: 30px 7px;
						}
					}
				}
			}
		}
		
		&.regular {
			margin-top: $spacer / 2;
		}
		
		&.regular, &.notifications {
			article {
				h4 {
					margin-top: $spacer;
					overflow: hidden;
					height: 88px;
					max-height: 88px;
					font-size: 32px;
					line-height: 42px;
					
					@media(max-width:$tp){
						margin-top: $spacer / 4;
						height: auto;
					}
					@media(max-width:$tp - 1){
						font-size: calc(1.1vw + 1.1vh + 1.1vmin);
						line-height: calc(1.4vw + 1.4vh + 1.4vmin);
					}
				}
			}
		}
		
		&.promoted {
			margin-top: $spacer / 2;
			
			article {
				
				h4 {
					@media(max-width:$tl){
						font-size: 32px;
						line-height: 48px;
					}
					@media(max-width:$tp - 1) {
						font-size: calc(1.1vw + 1.1vh + 1.1vmin);
						line-height: calc(1.4vw + 1.4vh + 1.4vmin);
					}					
				}
				
				.article-image {
					height: $spacer * 22;
					margin-bottom: $spacer;
					position: relative;
					
					img {
						max-height: $spacer * 22;
					}
					
					@media(max-width:$tl){
						height: $spacer * 20;
					}
					
					@media(max-width:$tp - 1){
						max-height: $spacer * 10;
						height: auto;
						margin: 0;
					}
					
					.play-box {
						width: 100%;
						height: 100%;
						background-image: url('assets/video-play-overlay.svg');
						background-repeat: no-repeat;
						background-position: center center;
						z-index: 999;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						@media(max-width:$tp){
							background-size: 50%;
						}
					}
				}
			}
		}
		
		&.notifications {
			
			h4 {
				display: inline-block;
				overflow: hidden;
				
				@media(max-width:$tp){
					text-overflow: ellipsis;
					white-space: pre;
				}
			}
			
			.icon {
				width: 100%;
				display: table;
				text-align: center;
				
				@media(min-width:$ml) {
					min-height: 100px;
				}
				
				a {
					font-family: $iykaaIcons;
					font-size: 78px;
					color: $secondary;
					width: 100%;
					font-weight: normal;
					display: table-cell;
					vertical-align: middle;
					
					@media(max-width:$tl) {
						font-size: calc(2vw + 2vh + 2vmin);
					}
					
					@media(max-width:$ml) {
						font-size: calc(4vw + 4vh + 4vmin);
					}
				}
			}
			
			.find-out-more {
				margin-top: $spacer / 2;
			}
			
			.low {
				h4 {
					color: $success;	
				}
				a {
					.chevron {
						p {
							color: $success;		
						}
					}
				}
				.icon {
					a {
						color: $success;
					}
				}
			}
			.medium {
				h4 {
					color: $warning;
				}
				a {
					.chevron {
						p {
							color: $warning;		
						}
					}
				}
				.icon {
					a {
						color: $warning;
					}
				}
			}
			.high {
				h4 {
					color: $stop;
				}
				a {
					.chevron {
						p {
							color: $stop;		
						}
					}
				}
				.icon {
					a {
						color: $stop;
					}
				}
			}
		}
	}
	
	.buttons {
		.dash-buttons {
			list-style: none;
			padding: 0;
			margin: 0;
			
			li {
				float: left;
				width: 24%;
				margin: 0.5%;
				border: 1px solid $primary + #333;
				@include alpha-attribute('background-color', rgba($primary, 0.75), black);
				@include vendor-prefix('transition','all ease 0.3s');

				@media(max-width:$tp) {
					width: 50%;
					margin: 0;
					border: none;
					border-bottom: 1px solid $primary + #333;
					
					&:nth-child(odd) {
						border-right: 1px solid $primary + #333;
					}
				}
				
				&:hover, &:active {
					border: 1px solid $secondary + #333;
					@include alpha-attribute('background-color', rgba($secondary, 0.75), black);
					
					.label, .icon {
						color: $bodyText;
						p {
							color: $bodyText;
						}
					}
				}
				
				&:nth-child(1), &:nth-child(2) {
					@media(max-width:$tp) {
						border-top: 1px solid $primary + #333;
					}
				}
			}
			
			a {
				display: block;
				color: $secondary;
				width: 100%;
				min-height: $spacer * 4;
			}
			
			.icon-container {
				@include alpha-attribute('background-color', rgba($primary - #111, 0.75), black);
			}
			
			.icon, .label {
				padding: $spacer / 2 0;
				display: table;
				width: 100%;
				
				@media(max-width:$tp) {
					padding: $spacer 0;
					min-height: $spacer * 5;
				}
				@media(max-width:$ml) {
					min-height: $spacer * 4;
				}
			}
			
			.icon {
				text-align: center;
				font-family: $iykaaIcons;
				color: $secondary;
				font-size: 72px;
				font-weight: normal;
				line-height: 72px;
				
				@media(max-width:$tl) {
					font-size: 62px;
				}
				
				@media(max-width:$ml){
					font-size: 32px;
				}
				
				span {
					text-align: center;
					display: table-cell;
					vertical-align: middle;
				}
			}
			
			.label {
				text-align: left;
				font-family: $headline;
				
				p {
					margin-bottom: $spacer / 2;
//					font-size: calc(1.2vw + 1.2vh + 1.2vmin);
					vertical-align: middle;
					width: 100%;
					
					@media(max-width:$tp) {
						font-size: calc(1.2vw + 1.2vh + 1.2vmin);
						display: table-cell;
					}
					
					&.description {
						color: $bodyText;
						font-size: 14px;
						line-height: 18px;
						@media(max-width:$tp) {
							display: none;
						}
					}
				}
			}
		}
	}
}