.get-user {
	position: relative;
	margin-bottom: $spacer;
	
	i {
		width: 100%;
		text-align: center;
		color: $secondary;
		font-size: 24px;
		margin: $spacer / 2 0px;
	}
	
	input[type="text"] {
		margin-bottom: 0;
		background-image: url('assets/down-arrow.svg');
		background-repeat: no-repeat;
		background-position-x: 97%;
		background-position-y: 50%;
	}
	
	ul {
		@include alpha-attribute('background-color', rgba($primary, 0.9), white);
		position: absolute;
		width: 100%;
		left:0;
		
		a, li {
			color: $bodyText;
		}
		
		li {
			padding: $spacer / 2;
			border-bottom: 1px solid $secondary - #111111;
			
			.mp-10 {
				padding-top: 5px;
			}
			
			&:hover {
				background: $secondary - #111111;
				color: $primary;
			}
		}
	}
	
	&.document {
		ul {
			position: relative;
		}
		
		li {
			&:after {
				clear: both;
				content: " ";
				display: table;
			}
		}
		
		select {
			margin-top: $spacer;
			width: 100%;
		}
		
		input[type="text"] {
			background-image: none;
		}
	}
}