.single-iykaa_library_custom {
	background: $primary !important;
	
	a {
		font-style: normal !important;
	}
	
	.main {
		a {
			color: $secondary;
			font-weight: 600;
			
			&:visited {
				color: $secondary - #333333;
			}
		}
		
		ul {
			margin: 0 !important;
			padding-left: 0 !important;
			
			li {
				list-style-type: none;
				
				&:after {
					clear: both;
					content: " ";
					display: table;
				}
			}
		}
	}
	
	.download-file {
		border: none !important;
		border-radius: 5px;
		transition: 0.5s;
		
		&:hover {
			color: $secondary !important;
		}
		
		&:before {
			background-color: $secondary;
			color: #ffffff;
			font-family: 'FontAwesome';
			font-size: 24px;
			font-weight: normal;
			margin-right: $spacer / 2;
			padding: 8px 10px;
			border: 2px solid $primary;
			float: left;
			border-radius: 50%;
			content: "\f019";
		}
		
		&.pdf {
			&:before {
				padding: 8px 11px;
				content: "\f1c1";
			}
		}
		
		&.doc {
			&:before {
				padding: 8px 11px;
				content: "\f1c2";
			}
		}
		
		&.xlsx {
			&:before {
				padding: 8px 11px;
				content: "\f1c3";
			}
		}
		
		&.zip {
			&:before {
				padding: 8px 11px;
				content: "\f1c6";
			}
		}
	}
	
	.sh-content {
		margin-top: -$spacer / 2;
		padding: $spacer;
		border: 1px solid $secondary;
		border-radius: 0 5px 5px 5px;
	}
}

.single-iykaa_library_custom, .tax-document_type_tax, .tag, .post-type-archive-iykaa_library_custom, .tag {
	background: $primary !important;
	
	.library-menu {
		background-color: $secondary;
		position: relative;
		@include vendor-prefix('box-shadow', '0px 0px 10px 0px rgba(0,0,0,0.25)');
		
		a {
			border: none;
		}
		
		ul {
			display: flex;
			
			li {
				position: initial;
				
				a {
					padding: $spacer / 2 $spacer;
				}
				
				&:hover {
					background-color: $secondary - #333333;
				}
			}
		}
		
		.current-menu-item, .current-menu-ancestor {
			background-color: $secondary - #333333;
			
			>a {
				color: #ffffff !important;
			}
		}
		
		.sub-menu {
			background-color: #eeeeee;
			display: none;
			position: absolute;
			left: 0;
			@include vendor-prefix('box-shadow', '0px 0px 10px 0px rgba(0,0,0,0.25)');
			
			li {
				width: 100%;
			}
			
			a {
				color: $primary;
				white-space: nowrap;
				
				&:hover {
					color: #ffffff;
				}
			}
			
			.sub-menu {
				top: 0;
				left: 100%;
			}
			
			.menu-item-has-children {
				&:after {
					color: $primary;
					font-family: 'FontAwesome';
					font-size: 24px;
					font-weight: normal;
					position: absolute;
					top: 10px;
					right: 10px;
					content: "\f0da";
				}
				
				&:hover {
					>a {
						color: #ffffff;
					}
					
					&:after {
						color: #fff;
					}
				}
			}
		}
		
		.menu-item-has-children {
			position: relative;
			
			&:hover {
				>.sub-menu {
					display: block;
				}
			}
		}
		
		.menu-item-has-children {
			padding-right: 10px;
			
			&:after {
				color: #ffffff;
				font-family: 'FontAwesome';
				font-size: 24px;
				font-weight: normal;
				position: absolute;
				top: 5px;
				right: 10px;
				content: "\f0dd";
			}
			
			&:hover {
				>a {
					color: #ffffff;
				}
				
				&:after {
					color: #fff;
				}
			}
		}
	}
	
	.pagination {
		button {
			float: left;
		}
	}
}

aside {
	.inner {
		margin-bottom: $spacer * 2;
	}
}

.popular-search, .calculators {
	a {
		color: $secondary;
		display: block;
		margin-bottom: $spacer / 2;
	}
}

.advance-search {
	select {
		width: 100%;
	}
}