.library {
	.results {
		.inner {
			@include alpha-attribute('background-color', rgba($primary, 0.85), black);
			padding: $spacer;
			height: $spacer * 10;
			
			h4 {
				@include responsive-font(2vw, 18px, 24px);
				@include responsive-lineheight(3vw, 24px, 30px);
				margin-bottom: 0;
			}
			
			p {
				@include responsive-font(2vw, 14px, 14px);
				@include responsive-lineheight(3vw, 18px, 18px);
				padding: 0;
				overflow: hidden;
				
				@media(max-width:600px) {
					max-height: 55px;
				}
			}
		}
		
		.cta {
			margin-top: 0;
			margin-bottom: $spacer;
			display: block;
		}
	}
	
	input, select, input[type="text"] {
		border: 0;
		border-bottom: 2px solid $secondary;
		border-radius: 0;
		@include alpha-attribute('background-color', rgba($contrast, 0.35), black);
		color: $bodyText;
		
		&:-moz-placeholder {
			color: $bodyText;
		}
		
		&::-moz-placeholder {
			color: $bodyText;
		}
		
		&::-ms-placeholder {
			color: $bodyText;
		}
		
		&::-webkit-input-placeholder {
			color: $bodyText;
		}
	}
	
	i {
		width: 10%;
		text-align: left;
		color: $secondary;
		font-size: 24px;
		float: left;
		margin: $spacer / 2 0px;
		
		&.center {
			text-align: center;
		}
		
		&.search {
			min-width: $spacer * 2;
			max-width: $spacer * 2;
			@media(max-width:$tp) {
				width: 10%;
				min-width: inherit;
				max-width: inherit;
			}
		}
	}
	
	select {
		width: 90%;
		float: left;
		background-image: url('assets/down-arrow.svg');
		background-repeat: no-repeat;
		background-position-x: 97%;
		background-position-y: 50%;
	}
	
	select, input[type="text"] {
		&:active, &:focus {
			@include alpha-attribute('background-color', rgba($bodyText, 0.75), white);
			color: $primary;

			&:-moz-placeholder {
				color: $primary;
			}
			
			&::-moz-placeholder {
				color: $primary;
			}
			
			&::-ms-placeholder {
				color: $primary;
			}
			
			&::-webkit-input-placeholder {
				color: $primary;
			}
		}
	}
	
	.search {
		input[type="text"] {
			width: calc(100% - 200px);
			height: 44px;
			float: left;
			
			@media(max-width: $tp) {
				width: calc(100% - 40px);
			}
		}
		
		button {
			width: 160px;
			height: 44px;
			margin: 0;
			padding: 8px 0px;
			position: relative;
			float: right;
			border: 0;
			border-radius: 0;
			font-weight: bold;
			background-color: rgba($contrast, 0.35) !important;
			border-bottom: 2px solid $secondary;
			color: $bodyText !important;
			
			&:hover {
				background: $secondary !important;
				color: $primary !important;
			}
			
			@media(max-width:$tp) {
				width: 100%;
				margin-bottom: $spacer;
			}
		}
	}
}

.find-out-more {

	.cta {
		margin-top: 0;
		margin-bottom: $spacer;
		display: block;
		font-weight: bold;
		background: $primary + #555555;
		color: $bodyText;
		width: 90%;
		float: left;
	}
	
	.chevron {
		background: $primaryDark;
		color: $bodyText;
		padding: $spacer / 2 $spacer / 4;
		font-family: "iykaa-icons";
		font-size: 20px;
		width: 10%;
		text-align: center;
		float: right;
	}
	
	&:hover, &:focus {
		.cta {
				background: $secondary;
				color: $primary;
				padding-left: $spacer * 1.5;
			}
		.chevron {
			background-color: $secondary - #333333;
			color: $primary;
		}
	}
}

.single-iykaa_library {
	.download {
		background: $primary;
		color: $secondary;
		margin-top: $spacer / 2;
		margin-bottom: $spacer;
		margin-left: $spacer;
		padding: $spacer;
		
		@media(max-width:$tp - 1) {
			margin: 0;
			margin-bottom: $spacer;
		}
		
		h3 {
			margin-bottom: 0;
		}
		
		li {
			&:last-child {
				border-bottom: 1px solid $secondary;
			}
		}
		
		p {
			color: $secondary;
			display: block;
			padding: $spacer / 2 0;
			border-top: 1px solid $secondary;
			font-weight: normal !important;
			
			&:before {
				font-family: "iykaa-icons";
				content: "\64";
				margin: 0 $spacer / 2;
			}
			
			&:hover {
				color: $primary;
				background-color: $secondary;
			}
		}
	}
}

.pagination {
	text-align: center;
	margin-bottom: $spacer;
	margin-top: $spacer;
	border-radius: $spacer / 4;
	
	.screen-reader-text {
		display: none;
	}
	
	.page-numbers, li {
		background-color: $primary;
		text-align: center;
		padding: $spacer / 2;
		display: inline-block;
		border: 1px solid $bgColour + #111111;
		
		&:hover {
			background-color: $primary + #111111;
		}
		
		&.active {
			background-color: $primary + #111111;
			
			&:hover {
				background-color: $primary + #222222;
			}
		}
	}
	
	.fa {
		font-size: inherit;
		margin: 0;
		width: auto;
		float: none;
	}
	
	.next, .previous {
		background-color: $secondary;
		color: $primary;
		
		&:hover {
			background-color: $secondary + #111111;
		}
	}
	
	&:after {
		clear: both;
		content: " ";
		display: table;
	}
}

.iykaa_library-template-single-iykaa_library-home {
	.main, .sidebar {
		margin-top: $spacer * 2; 
	}
	
	.library {
		section {
			margin-bottom: $spacer;
		}
	}
}

.menu-back {
	@include alpha-attribute('background-color', rgba($contrast, 0.35), black);
	text-decoration: none;
	padding: $spacer / 2;
	margin-bottom: $spacer / 2;
	display: block;
	@include vendor-prefix('transition','all 0.3s ease');
	
	&:before {
		font-family: $iykaaIcons;
		content: "\63";
		font-size: 28px;
		transform: rotateY(180deg);
		float: left;
	}
	
	span {
		font-weight: bold;
	}
	
	&:hover {
		@include alpha-attribute('background-color', rgba($secondary, 0.35), black);
	}
}

.library-menu, .mobile-library-menu {
	@include alpha-attribute('background-color', rgba($contrast, 0.35), black);
	margin-bottom: $spacer;
	position: relative;
	z-index: 1;
	display: block;
	
	li {
		position: relative;
		float: left;
		@include vendor-prefix('transition','all 0.3s ease');
		
		a {
			color: $bodyText;
			padding: $spacer / 2;
			display: block;
			border-bottom: 2px solid $secondary;
			border-right: 2px solid $secondary; 
		}
		
		&.page_item_has_children {
			a {
				&:after {
					font-family: $iykaaIcons;
					content: "\70";
					color: $secondary;
					font-size: 24px;
					float: right;
					margin-left: $spacer / 4;
					
					@media(max-width:$tl) {
						display: none;
					}
				}
			}
		}
		
		&.page_item_has_children {
			.children {
				display: none;
			}
			
			.menu_updown {
				float:right;
				width: 10%;
				.chevron {
					font-family: $iykaaIcons;
					color: $secondary;
					font-size: 28px;
					text-align: center;
					width: 100%;
					padding: $spacer / 2 $spacer / 4;
				}
			}
		}
		
		.children {
			@include alpha-attribute('background-color', rgba($contrast, 0.75), black);
			position: absolute;
			display: none;
			z-index: 999;
			width: 100%;
			
			li {
				float: none;
				width: 100%;
				
				a {
					border-bottom: 2px solid $secondary;
					border-right: none;
					width: 100%;
					&:after {
						content: none;
					}
				}
			}
			
			.children {
				display: none;
			}
			@media(max-width:$tl){
				position: relative;
				float: none;
			}
		}
		
		&:hover {
			@include alpha-attribute('background-color', rgba($secondary, 0.35), black);
			.children {
				display: block;
				
				.children {
					display: none;
					
					&:hover {
						.children {
							display: block;
						}
					}
				}
			}
		}
	}
	
	&:after {
		clear: both;
		content: " ";
		display: table;
	}
}

.mobile-library-menu {
	display: none;
	@media(max-width:$tl){
		display: block;
	}
	
	p {
		padding: $spacer / 2;
		font-weight: bold;
		border-bottom: 2px solid $secondary;
		&:after {
			font-family: $iykaaIcons;
			content: '\70';
			float: right;
			font-size: 28px;
		}
	}
	
	ul {
		display: none;
	}
	
	li {
		width: 100%;
		a {
			border-right: none;
		}
	}
}
