.single-iykaa_locations, .single-iykaa_departments {
	.location-details {
		.location-info, .information, .opening-times, .departments {
			margin-bottom: $spacer * 3;
			
			@media(max-width:$mp) {
				margin-bottom: $spacer * 2;
			}
		}
		.location-info {
			padding-top: $spacer;
			
			@media(max-width:$ml){
				.acf-map {
					margin-bottom: $spacer;
				}
			}
			
			.side-image {
				margin-bottom: $spacer;
				border: 1px solid $secondary;
			}
			
			address {
				padding-bottom: $spacer;
				margin-bottom: $spacer;
				border-bottom: 2px solid $secondary;
				
				p {
					padding-left: $spacer * 2;
				}
			}
			
			.phone, .email, .location {
				color: $secondary;
				border-bottom: 2px solid $primary;
				
				a {
					color: $secondary;
					text-decoration: none;
					padding-bottom: $spacer / 2;
					display: block;
				}
				
				&:hover {
					border-bottom: 2px solid $secondary;
				}
			}
		}
		
			
		&.department {
			.title {
				color: $secondary;
				margin-bottom: $spacer;
				
				@media(max-width:$mp) {
					margin-bottom: $spacer / 2;
				}
			}
		}

		.opening-times {
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				
				li {
					float: left;
					margin-right: $spacer / 2;
					width: calc(100% / 7 - 10px);
					
					@media(max-width: $tp) {
						width: calc(100% / 2 - 10px);
						margin-bottom: $spacer / 2;
					}
					
					@media(max-width: $ml) {
						width: 100%;
						margin-right: 0;
						margin-bottom: $spacer / 2;
					}
					
					p {
						&:first-of-type {
							font-weight: bold;
						}
					}
				}
			}
			
			&.phone-numbers, &.emails {
				ul {
					li {
						width: calc(100% / 4 - 10px);

						@media(max-width: $tp) {
							width: 100%;
							margin-right: 0;
							margin-bottom: $spacer / 2;
						}
						
						p {
							&:first-of-type {
								border-bottom: none;
								&:hover {
									border-bottom: none;
								}
							}
							
							border-bottom: 2px solid $primary;

							a {
								color: $secondary;
								text-decoration: none;
								padding-bottom: $spacer / 2;
								display: block;
							}
							
							&:hover {
								border-bottom: 2px solid $secondary;
							}
						}
					}
				}
			}
		}
		.departments {
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				
				li {
					float: left;
					width: 100%;
					padding-bottom: $spacer / 2;
					margin-bottom: $spacer / 2;
					
					&:first-of-type {
						margin-top: $spacer;
					}
					
					p {
						width: calc(100% / 3 - 10px);
						border-right: 1px solid $secondary;
						padding-left: $spacer / 2;
						padding-bottom: $spacer / 2;
						float: left;
						border-bottom: 1px solid $primary;
						
						&:first-of-type {
							font-weight: bold;
							color: $bodyText;
						}
						
						&:last-of-type {
							border-right: none;
						}
						
						&.dept {
							a {
								&:before {
									content: "\6c";
								}
							}
						}
						&.phone {
							a {
								&:before {
									content: "\6f";
								}
							}
						}
						&.email {
							a {
								&:before {
									content: "\69";
								}
							}
						}

						a {
							color: $secondary;
							text-decoration: none;
							display: block;

							&:before {
								font-family: $iykaaIcons;
								font-weight: normal;
								font-size: 18px;
								margin-right: $spacer / 2;
								bottom: -4px;
								position: relative;
							}
						}
						
						&:hover {
							border-bottom: 1px solid $secondary;
						}
						
						@media(max-width:$ml){
							width: 100%;
							border-right: none;
						}
					}
				}
			}
		}
	}
}

.post-type-archive-iykaa_locations {
	.library {
		.results  {
			.inner {
				height: $spacer * 12;
			}
			.news-thumbnail-mobile {
				@media(max-width:$ml){
					height: $spacer * 14;	
				}
			}
		}
	}
}
