.login-register {
	padding-top: $spacer * 2;
	padding-bottom: $spacer * 2;
}

.login-form {
	label {
		cursor: pointer;
		
		span {
			margin-top: $spacer / 4;
			float: left;
		}
	}
	
	input[type="checkbox"] {
		@include vendor-prefix('appearance','none');
		width: $spacer / 1.5;
		height: $spacer / 1.5;
		border-bottom: 0;
		border-radius: $spacer * 3;
		float: left;
		margin-right: $spacer / 2;
		border: 1px solid $secondary;
		
		&:checked {
			background-color: $secondary;
		}
	}

}

.reg-slider {
	li {
		padding-left: $spacer * 2;
		padding-right: $spacer * 2;
	}
	
	.owl-controls {
		margin-top: $spacer;
		width: 100%;
		position: relative;
		bottom: 0;
		border-top: 2px solid $secondary;
	}
	
	.owl-prev, .owl-next {
		background-size: contain;
		text-indent: 0;
		width: auto;
		height: 20px;
		position: absolute;
		display: block;
		top: $spacer;
		
		@media(max-width: $tl) {
			width: 40px;
			height: 40px;
		}
	}
	
	.owl-prev {
		background-image: none;
		left: 40%;
		opacity: 0.2;
	}
	
	.owl-next {
		background-image: none;
		right: 40%;
	}
	
	.user-agreement {
		background-color: $primary;
		padding-right: $spacer * 2;
		height: 900px;
		overflow: scroll;
		border-left: 40px solid $primary;
		border-top: 40px solid $primary;
		border-bottom: 40px solid $primary;
	}
}