.login-page {
	padding-top: $spacer * 2;
	
	h1 {
		color: $secondary;
		font-size: calc(5vw + 5vh + 5vmin);
		line-height: calc(5vw + 5vh + 5vmin);
	}
	
	input[type="submit"] {
		width: 100%;
	}
	
	hr {
		margin: $spacer 0px;
	}
	
	@media(max-width: $tp - 1) {
		h1 {
			text-align: center;
		}
		
		hr {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.password-reset, .login-form {
	.icon {
		i {
			text-align: right;
			color: $secondary;
			font-size: 24px;
		}
	}	
}

.password-reset {
	.icon {
		i {
			margin-top: $spacer / 2;
			width: 100%;
		}
	}	
}

.login-form {
	.icon {
		i {
			text-align: right;
			width: 100%;
		}
	}
	
	.login-button {
		position: relative;
		
		input[type="submit"] {
			text-align: left;
			border: 0;
			border-radius: 0 $spacer * 2 $spacer * 2 0;
			z-index: 1;
			font-size: 24px;
			
			&:hover {
				@include alpha-attribute('background-color', rgba($contrast, 0.15), black);
				color: $secondary !important;
			}
		}
		
		i {
			background-color: $secondary;
			color: $primary;
			text-align: center;
			float: none;
			margin: 6px 0px;
			padding: 10px;
			border-radius: 50px;
			position: absolute;
			right: 6px;
			width: 45px;
			z-index: -1;
			top: -2px;
		}
		
		&:hover, &:active, &:focus {
			input[type="submit"] {
				color: $bodyText;
			}
			
			i {
				background-color: $bodyText;
			}
		}
	}
	
	.forgot {
		font-size: 12px;
		font-style: italic;
	}
}

.login-form, .team, .notifications, .get-user, .edit-profile {
	input, select, input[type="text"] {
		border: 0;
		border-bottom: 2px solid $secondary;
		border-radius: 0;
		@include alpha-attribute('background-color', rgba($contrast, 0.35), black);
		color: $bodyText;
		-webkit-appearance: none;
		
		&:-moz-placeholder {
			color: $bodyText;
		}
		
		&::-moz-placeholder {
			color: $bodyText;
		}
		
		&::-ms-placeholder {
			color: $bodyText;
		}
		
		&::-webkit-input-placeholder {
			color: $bodyText;
		}
	}

	input[type="checkbox"] {
		@include vendor-prefix('appearance','checkbox');
	}
	
	.small-search {
		.fa-search {
			width: 40px;
		}
		
		input[type="text"] {
			width: calc(100% - 200px);
		}
		
		button {
			width: 160px;
		}
		
		@media(max-width: $tp - 1) {		
			input[type="text"] {
				width: calc(100% - 40px);
			}
			button {
				width: 100%;
			}
		}
	}
	
	i {
		width: 10%;
		text-align: left;
		color: $secondary;
		font-size: 24px;
		float: left;
		margin: $spacer / 2 0px;
		
		&.center {
			text-align: center;
		}
		
		&.search {
			min-width: $spacer * 2;
			max-width: $spacer * 2;
			
			@media(max-width:$tp) {
				width: 10%;
				min-width: inherit;
				max-width: inherit;
			}
		}
		
		@media(max-width:$tp) {
			text-align: center;
		}
	}
	
	select {
		width: calc(100% - 40px);
		float: left;
		background-image: url('assets/down-arrow.svg');
		background-repeat: no-repeat;
		background-position-x: 97%;
		background-position-y: 50%;
	}
	
	select, input[type="text"] {
		&:active, &:focus {
			@include alpha-attribute('background-color', rgba($bodyText, 0.75), white);
			color: $primary;

			&:-moz-placeholder {
				color: $primary;
			}
			
			&::-moz-placeholder {
				color: $primary;
			}
			
			&::-ms-placeholder {
				color: $primary;
			}
			
			&::-webkit-input-placeholder {
				color: $primary;
			}
		}
	}
}

.login-form, .team, .further-info, .sidebar {
	.results {
		text-align: center;
	}
	
	.profile-preview {
		margin: $spacer / 2 0;
	}
	
	.avatar {
		margin-bottom: $spacer;
		border: 5px solid $secondary;
		border-radius: 1200px;
		overflow: hidden;
		
		@media(max-width:$tp - 1) {
			max-width: 60%;
			margin: 0 auto;
			margin-bottom: $spacer;
		}
	}
	// Edit Profile Button
	.edit {
		cursor: pointer;
		a {
			cursor: pointer;
		}
		i {
			width: 100%;
			text-align: center;
		}
		p, button {
			padding: $spacer / 2;
			@include alpha-attribute('background-color', rgba($contrast, 0.35), black);
			color: $secondary;
			@include vendor-prefix('transition','all ease 0.3s');
			
			&:hover {
				@include alpha-attribute('background-color', rgba($secondary, 0.75), black);
				color: $primary;				
			}
		}
		button {
			text-align: left;
			font-size: 90%;
			font-weight: bold;
			margin-bottom: $spacer / 2;
		}
	}
}

.team {
	&.page-content {
		h3 {
			@include responsive-font(4.5vw, 20px, 38px);
			@include responsive-lineheight(5vw, 24px, 48px);
		}
	}
	.profile-updated {
		p {
			font-size: 14px;
			margin-bottom: 0;
			text-align: center;
			
			&:first-of-type {
				font-weight: normal;
			}
			
			&:last-of-type {
				color: $secondary;
				font-weight: bold;
			}
		}
	}
	.advanced-search {
		
		.open-filters {
			@include alpha-attribute('background-color', rgba($contrast, 0.35), black);
			@include vendor-prefix('transition','all ease 0.3s');
			border-bottom: 2px solid $secondary;
			padding: $spacer / 2;
			margin-bottom: $spacer / 2;
			text-align: center;
			width: calc(100% - 40px);
			float: right;
			display: block;
			
			&:hover {
				@include alpha-attribute('background-color', rgba($secondary, 0.75), black);
				color: $primary;				
			}
		}
		.filters {
			padding-top: $spacer / 2;
			display: none;
		}
	}
}

.status {
	font-weight: bold;
	text-align: center;
	margin-top: $spacer / 2;
	margin-bottom: $spacer / 2;
	padding: 0;
	
	&.top {
		@media(max-width:$tp - 1) {
			display: none;
		}
	}
	
	&:before {
		font-family: "iykaa-icons";
		content: '\73';
	}
	
	p {
		color: #ffffff;
		font-size: 14px;
	}
	
	select {
		background-color: transparent;
		background-size: contain;
		font-weight: bold;
		margin-bottom: 0;
		padding: 0 $spacer;
		width: 50%;
		float: right;
		border: none;
	}
	
	span {
		color: $bodyText;
		font-weight: normal;
	}
	
	&.align-right {
		text-align: right;
		
		&:before {
			content: none;
		}
	}
	
	&.available {
		color: $success;
		
		select {
			background-image: url('assets/status-available.png');
			color: $success;
		}
	}
	
	&.unavailable {
		color: $stop;
		
		select {
			background-image: url('assets/status-unavailable.png');
			color: $stop;
		}
	}
	
	&.holiday {
		color: $warning;
		
		select {
			background-image: url('assets/status-holiday.png');
			color: $warning;
		}
	}
	
	&.travelling {
		color: $holiday;
		
		select {
			background-image: url('assets/status-travelling.png');
			color: $holiday;
		}
	}
	
	&.note {
		&:after {
			font-family: 'iykaa-icons';
			content: '\75';
		}
	}
}

.details {
	margin-bottom: $spacer;
	
	.title-divider {
		h4 {
			margin-top: 20px;
			margin-bottom: 0;
		}
		hr {
			margin-top: $spacer / 4;
			margin-bottom: $spacer;
		}
		&.first {
			h4 {
				margin-top: 0;
			}
		}
	}
	
	small {
		color: $secondary;
		line-height: 1px;
		margin-bottom: 0;
		display: inline-block;
	}
	
	.fa {
		font-size: 18px;
		margin: 0;
		height: 20px;
	}
	
	@media(max-width:$tp - 1) {
		margin-bottom: $spacer * 2;
	}
}

.working-hours {
	p {
		padding: $spacer / 2;
		text-align: center;
		font-weight: normal !important;
		@include responsive-font(2vw, 11px, 11px);
		@include responsive-lineheight(3vw, 18px, 18px);
	}
	strong {
		background-color: $secondary;
		color: $primary;
		display: block;
		p {
			font-weight: bold !important;
		}
	}
	hr {
		margin-top: 0;
	}
}