.acf-field {
	padding: 5px 10px !important;
	border: none !important;
	
	@media(min-width: $tp + 1) {
		width: 40%;
		float: left;
		clear: none !important;
	}
}

.acf-field-image {
	@media(min-width: $tp + 1) {
		width: 20%;
		height: 75vmax;
		float: left;
		clear: none !important;
	}
}

.acf-field-text[data-name="mobile_phone"], .acf-field-post-object[data-name="similar_contacts"], .acf-field-post-object[data-name="alternative_contacts"], .acf-field-textarea, .acf-form-submit {
	@media(min-width: $tp + 1) {
		width: 80%;
		float: right;
	}
}

.acf-form-submit {
	padding: 0 10px;
}

.updated {
	background: $success;
	margin-top: $spacer / 2;
	padding: $spacer;
}

// Edit Profile
.edit-profile {
	.acf-field {
		input[type="text"],
		input[type="password"],
		input[type="number"],
		input[type="search"],
		input[type="email"],
		input[type="url"],
		select,
		textarea {
			@include alpha-attribute('background-color', rgba($contrast, 0.35), black);
			color: $bodyText;
			padding: $spacer / 2;
			height: auto;
			margin-bottom: $spacer / 2;
		}
		
		.acf-label {
			font-family: $headline;
			border-bottom: 1px solid $secondary;
			label {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
	
	.acf-form-submit {
		margin-top: $spacer;
	}

	.acf-button {
		cursor: pointer;
		padding: $spacer / 2;
		margin-top: $spacer / 2;
		display: block;
		border-radius: $spacer;
		border: 1px solid;
		border-color: $secondary;
		background: none;
		color: $secondary;
		
		@include vendor-prefix('transition','all ease 0.3s');
		
		&:after {
			font-family: 'FontAwesome';
			content: "\f055";
			margin-left: $spacer / 2;
			font-size: 120%;
		}
		
		&:hover {
			border-color: $primary;
			background-color: $secondary;
			color: $primary !important;
		}
	}
	
	.acf-image-uploader {
		img {
			margin-bottom: $spacer;
			border: 5px solid $secondary;
			border-radius: 1200px;
			overflow: hidden;

			@media(max-width:$tp - 1) {
				max-width: 60%;
				margin: 0 auto;
				margin-bottom: $spacer;
			}
		}
	}
	
	.acf-form-submit {
		input[type="submit"] {
			margin: 0 auto;
			width: 100%;
		}	
	}
	
	.acf-repeater {
		border: 0;
	}
	
	.acf-table {
		background: none;
		border: none;
		
		thead {
			tr {
				th {
					background: none;
				}
			}
		}
		tbody {
			tr {
				td {
					background: none;
					border-bottom-color: $primary;
					
					input[type="text"], input[type="email"] {
						margin-bottom: 0;
					}
				}
			}
		}
		
		.acf-row-handle {
			background: none;
			
			&.order, &.remove {
				max-width: 24px !important;
				background-color: $secondary;
				color: $primary;
				text-shadow: none;
				border-color: $primary;
			}
			
			&.order {

			}
			&.remove {
				
			}
		}
	}
}

#TB_window {
	background-color: transparent !important;
	
	#TB_title {
		background-color: $primary;
		height: 45px;
		border: none;
		content: "Status";
	}
	
	.screen-reader-text {
		display: none;
	}
	
	.tb-close-icon {
		height: 45px;
		width: 45px;
		line-height: 45px;
		
		&:before {
			color: $secondary;
			font: normal 45px/45px dashicons ;
		}
	}
}

.status-updater {
	
	p {
		text-align: center;
		font-weight: normal;
		margin-bottom: $spacer / 2;
	}
	
	.updated {
		padding: $spacer / 2;
		
		p {
			margin: 0;
		}
	}
	
	.status {
		&:before {
			content: none;
		}
	}
	.status-form {
		margin-top: $spacer / 2;
		
		&.status-select {
			select {
				@include alpha-attribute('background-color', rgba($contrast, 0.35), black);
				color: $bodyText;
				font-family: $secondaryFont;
				font-size: 16px;
				width: 100%;
				padding: $spacer / 2;
				margin-bottom: $spacer;
				border-radius: 0;
				border: 0;
				border-bottom: 2px solid $secondary;
				cursor: pointer;
				@include vendor-prefix('appearance','none');
				background-image: none;
			}
			select::-ms-expand {
				display: none;
			}
			&:after {
				font-family: "iykaa-icons";
				content: "\73";
				position: absolute;
				right: 20px;
				top: 53px;
				font-size: 24px;
				font-weight: normal;
			}
			&.available {
				color: $success;
				select {
					color: $success;
					border-color: $success;
				}
				&:after {
					color: $success;
				}
			}
			
			&.unavailable {
				color: $stop;
				select {
					color: $stop;
					border-color: $stop;
				}
				&:after {
					color: $stop;
				}
			}
			
			&.holiday {
				color: $warning;
				select {
					color: $warning;
					border-color: $warning;
				}
				&:after {
					color: $warning;
				}
			}
			
			&.travelling {
				color: $holiday;
				select {
					color: $holiday;
					border-color: $holiday;
				}
				&:after {
					color: $holiday;
				}
			}
		}
		
		input {
			width: 45% !important;
			float: left;
			
			&:nth-child(2){
				margin-right: 10%;
			}
		}
		input[type="text"] {
			width: 100% !important;
			&:-moz-placeholder {
				color: $primary + #333;
			}
			
			&::-moz-placeholder {
				color: $primary + #333;
			}
			
			&::-ms-placeholder {
				color: $primary + #333;
			}
			
			&::-webkit-input-placeholder {
				color: $primary + #333;
			}
		}
		.reset {
			border-color: $primary + #333;
			color: $primary + #333;
		}
	}
}