// Number of columns
$columns: 12;

// Gutter width
$gutter: 20px; // This needs to be an even number.

$spacer: 20px;

// Breakpoints
$maxwidth: 		1440px;
$wrapperwidth:	1280px;
$dt: 			1170px;
$tl: 			1024px;
$tp: 			768px;
$ml: 			568px;
$mp: 			320px;

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

*:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	margin: 0;
}

.wrapper {
	max-width: $wrapperwidth;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: $gutter / 2;
	padding-right: $gutter / 2;
}

.full {
	max-width: 100% !important;
}

.no-gaps {
	padding-left: 0;
	padding-right: 0;
	
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.dt-#{$columnsCount}, .tl-#{$columnsCount}, .tp-#{$columnsCount}, .ml-#{$columnsCount}, .mp-#{$columnsCount} {
			padding-left: 0;
			padding-right: 0;
		}
		
		$columnsCount: $columnsCount - 1;
	}
}

.gaps {
	padding-left: $gutter / 2;
	padding-right: $gutter / 2;
	
	.row {
		margin-left: -$gutter / 2;
		margin-right: -$gutter / 2;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.dt-#{$columnsCount}, .tl-#{$columnsCount}, .tp-#{$columnsCount}, .ml-#{$columnsCount}, .mp-#{$columnsCount} {
			padding-left: $gutter / 2;
			padding-right: $gutter / 2;
		}
		
		$columnsCount: $columnsCount - 1;
	}
}

.row {
	margin-left: -$gutter / 2;
	margin-right: -$gutter / 2;
}

.wrapper:before,
.row:before {
	display: table;
	content: " ";
}

.wrapper:after,
.row:after {
	clear: both;
	display: table;
	content: " ";
}

$columnsCount: $columns;
@while $columnsCount > 0 {
	.nested .dt-#{$columnsCount}, .nested .tl-#{$columnsCount}, .nested .tp-#{$columnsCount}, .nested .ml-#{$columnsCount}, .nested .mp-#{$columnsCount} {
		margin-bottom: 0;
	}
	
	$columnsCount: $columnsCount - 1;
}

$columnsCount: $columns;
@while $columnsCount > 0 {
	.dt-#{$columnsCount}, .tl-#{$columnsCount}, .tp-#{$columnsCount}, .ml-#{$columnsCount}, .mp-#{$columnsCount} {
		float: left;
		padding-left: $gutter / 2;
		padding-right: $gutter / 2;
		min-height: 1px;
	}
	
	$columnsCount: $columnsCount - 1;
}

$columnsCount: $columns;
@while $columnsCount > 0 {
	.mp-#{$columnsCount} {
		width: (100% / $columns) * $columnsCount;
	}
	
	$columnsCount: $columnsCount - 1;
}

$columnsCount: $columns;
@while $columnsCount > 0 {
	.ml-#{$columnsCount} {
		width: (100% / $columns) * $columnsCount;
	}
	
	$columnsCount: $columnsCount - 1;
}

$columnsCount: $columns;
@while $columnsCount > 0 {
	.tp-#{$columnsCount} {
		width: (100% / $columns) * $columnsCount;
	}
	
	$columnsCount: $columnsCount - 1;
}

$columnsCount: $columns;
@while $columnsCount > 0 {
	.tl-#{$columnsCount} {
		width: (100% / $columns) * $columnsCount;
	}
	
	$columnsCount: $columnsCount - 1;
}

$columnsCount: $columns;
@while $columnsCount > 0 {
	.dt-#{$columnsCount} {
		width: (100% / $columns) * $columnsCount;
	}
	
	$columnsCount: $columnsCount - 1;
}

$columnsCount: $columns;
@while $columnsCount > 0 {
	.indent-mp-#{$columnsCount}, .indent-ml-#{$columnsCount}, .indent-tp-#{$columnsCount}, .indent-tl-#{$columnsCount}, .indent-dt-#{$columnsCount} {
		margin-left: (100% / $columns) * $columnsCount;
	}
	
	$columnsCount: $columnsCount - 1;
}

@media (min-width: $dt) and (max-width: $maxwidth) {
	.wrapper {
		max-width: $dt;
	}
}

@media (max-width: $dt - 1) {
	.wrapper {
		max-width: $tl;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.dt-#{$columnsCount} {
			width: 100%;
		}
		
		$columnsCount: $columnsCount - 1;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.indent-dt-#{$columnsCount} {
			margin-left: 0;
		}
		
		$columnsCount: $columnsCount - 1;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.mp-#{$columnsCount} {
			width: (100% / $columns) * $columnsCount;
		}
		
		$columnsCount: $columnsCount - 1;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.ml-#{$columnsCount} {
			width: (100% / $columns) * $columnsCount;
		}
		
		$columnsCount: $columnsCount - 1;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.tp-#{$columnsCount} {
			width: (100% / $columns) * $columnsCount;
		}
		
		$columnsCount: $columnsCount - 1;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.tl-#{$columnsCount} {
			width: (100% / $columns) * $columnsCount;
		}
		
		$columnsCount: $columnsCount - 1;
	}
}

@media (max-width: $tl - 1) {
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.tl-#{$columnsCount} {
			width: 100%;
		}
		
		$columnsCount: $columnsCount - 1;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.indent-tl-#{$columnsCount} {
			margin-left: 0;
		}
		
		$columnsCount: $columnsCount - 1;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.mp-#{$columnsCount} {
			width: (100% / $columns) * $columnsCount;
		}
		
		$columnsCount: $columnsCount - 1;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.ml-#{$columnsCount} {
			width: (100% / $columns) * $columnsCount;
		}
		
		$columnsCount: $columnsCount - 1;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.tp-#{$columnsCount} {
			width: (100% / $columns) * $columnsCount;
		}
		
		$columnsCount: $columnsCount - 1;
	}
}

@media (max-width: $tp - 1) {
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.tp-#{$columnsCount} {
			width: 100%;
		}
		
		$columnsCount: $columnsCount - 1;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.indent-tp-#{$columnsCount} {
			margin-left: 0;
		}
		
		$columnsCount: $columnsCount - 1;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.mp-#{$columnsCount} {
			width: (100% / $columns) * $columnsCount;
		}
		
		$columnsCount: $columnsCount - 1;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.ml-#{$columnsCount} {
			width: (100% / $columns) * $columnsCount;
		}
		
		$columnsCount: $columnsCount - 1;
	}
}

@media (max-width: $ml - 1) {
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.ml-#{$columnsCount} {
			width: 100%;
		}
		
		$columnsCount: $columnsCount - 1;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.indent-ml-#{$columnsCount} {
			margin-left: 0;
		}
		
		$columnsCount: $columnsCount - 1;
	}
	
	$columnsCount: $columns;
	@while $columnsCount > 0 {
		.mp-#{$columnsCount} {
			width: (100% / $columns) * $columnsCount;
		}
		
		$columnsCount: $columnsCount - 1;
	}
}

// Forces any left positioned element to go to the right
.force {
	float: right;
}

// Hide columns
@media (max-width: $ml - 1) {
	.mp-hide {
		display: none !important;
	}
	
	.ml-hide {
		display: none !important;
	}
	
	.tp-hide {
		display: none !important;
	}
	
	.tl-hide {
		display: none !important;
	}
	
	.dt-hide {
		display: none !important;
	}
}

@media (min-width: $ml) and (max-width: $tp - 1) {
	.ml-hide {
		display: none !important;
	}
	
	.tp-hide {
		display: none !important;
	}
	
	.tl-hide {
		display: none !important;
	}
	
	.dt-hide {
		display: none !important;
	}
}

@media (min-width: $tp) and (max-width: $tl - 1) {
	.tp-hide {
		display: none !important;
	}
	
	.tl-hide {
		display: none !important;
	}
	
	.dt-hide {
		display: none !important;
	}
}

@media (max-width: $tl) {
	.tl-hide {
		display: none !important;
	}
	
	.dt-hide {
		display: none !important;
	}
}

@media (min-width: $tl + 1) {
	.dt-hide {
		display: none !important;
	}
}