.news {
	.results {
		.inner {
			background: rgba(0, 0, 0, 0.1);
			padding: $spacer;
			
			h4 {
				@include responsive-font(2vw, 18px, 24px);
				@include responsive-lineheight(3vw, 24px, 30px);
				margin-bottom: 0;
			}
			
			p {
				@include responsive-font(2vw, 14px, 14px);
				@include responsive-lineheight(3vw, 18px, 18px);
				overflow: hidden;
				
				@media(max-width:600px) {
					max-height: 55px;
				}
			}
		}
		.find-out-more {
			margin:0 $spacer / 2 $spacer;
		}
	}
	
	input, select, input[type="text"] {
		border: 0;
		border-bottom: 2px solid $secondary;
		border-radius: 0;
		@include alpha-attribute('background-color', rgba($contrast, 0.35), black);
		color: $bodyText;
		
		&:-moz-placeholder {
			color: $bodyText;
		}
		
		&::-moz-placeholder {
			color: $bodyText;
		}
		
		&::-ms-placeholder {
			color: $bodyText;
		}
		
		&::-webkit-input-placeholder {
			color: $bodyText;
		}
	}
	
	i {
		width: 10%;
		text-align: left;
		color: $secondary;
		font-size: 24px;
		float: left;
		margin: $spacer / 2 0px;
		
		&.center {
			text-align: center;
		}
		
		&.search {
			min-width: $spacer * 2;
			max-width: $spacer * 2;
			@media(max-width:$tp) {
				width: 10%;
				min-width: inherit;
				max-width: inherit;
			}
		}
	}
	
	select, input[type="text"] {
		&:active, &:focus {
			@include alpha-attribute('background-color', rgba($bodyText, 0.75), white);
			color: $primary;

			&:-moz-placeholder {
				color: $primary;
			}
			
			&::-moz-placeholder {
				color: $primary;
			}
			
			&::-ms-placeholder {
				color: $primary;
			}
			
			&::-webkit-input-placeholder {
				color: $primary;
			}
		}
	}
	
	.search {
		input[type="text"] {
			width: calc(100% - 200px);
			height: 44px;
			float: left;
			
			@media(max-width: $tp) {
				width: calc(100% - 40px);
			}
		}
		
		button {
			width: 160px;
			height: 44px;
			margin: 0;
			padding: 8px 0px;
			position: relative;
			float: right;
			border: 0;
			border-radius: 0;
			font-weight: bold;
			background-color: rgba($contrast, 0.35) !important;
			border-bottom: 2px solid $secondary;
			color: $bodyText !important;
			
			&:hover {
				background: $secondary !important;
				color: $primary !important;
			}
			
			@media(max-width:$tp) {
				width: 100%;
				margin-bottom: $spacer;
			}
		}
	}
	
}