.notifications {
	.results {
		.inner {
			background: rgba(0, 0, 0, 0.1);
			margin-bottom: $spacer;
			padding: $spacer;
			
			h4 {
				@include responsive-font(2vw, 18px, 24px);
				@include responsive-lineheight(3vw, 24px, 30px);
				margin-bottom: 0;
			}
			
			p {
				@include responsive-font(2vw, 14px, 14px);
				@include responsive-lineheight(3vw, 18px, 18px);
				overflow: hidden;
				
				@media(max-width:600px) {
					max-height: 55px;
				}
			}
		}
	}
}

#onesignal-bell-container {
	bottom: $spacer * 2 !important;
}

.page-template-page-dashboard, .page-template-page-status-note {
	#onesignal-bell-container {
		display: none;
	}
}

.time-stamp {
	margin-bottom: 0;
	@include responsive-font(1vw, 14px, 16px);
}