.page-template-page-read-later {
	.notifications .cta {
		margin-top: 0;
	}
	.read-later {
		.results {
			table {
				border: none;
				
				thead, tbody, tfoot, tr, td {
					border: none;
					@include responsive-font(2vw, 14px, 18px);
					@include responsive-lineheight(3vw, 20px, 24px);
				}
				
				thead, tfoot {
					td {
						@include alpha-attribute('background-color', rgba($contrast, 0.3), black);
						padding: $spacer $spacer / 2;
					}
				}
				
				thead {
					border-bottom: 2px solid $secondary;
					td {
						@include responsive-font(2vw, 14px, 16px);
						@include responsive-lineheight(3vw, 20px, 22px);
					}
				}
				
				tbody {
					tr {
						border-bottom: 1px solid $secondary;
						
						td {
							padding: $spacer $spacer / 2;
						}
						
						&:nth-child(even){
							@include alpha-attribute('background-color', rgba($contrast, 0.4), black);
						}
					}
				}
				
				tfoot {
					td {
						opacity: 0.5;
						@include responsive-font(2vw, 14px, 16px);
						@include responsive-lineheight(3vw, 20px, 22px);
					}
				}
				
				p {
					@include responsive-font(2vw, 14px, 18px);
					@include responsive-lineheight(3vw, 20px, 24px);
				}
			}
			
			.name {
				width: 60%;
			}
			.type {
				width: 10%;
				text-align: center;
			}
			.date {
				width: 20%;
				text-align: center;
			}
			.actions {
				width: 10%;
				text-align: center;
				
				a {
					width: 50%;
					float: left;
					display: block;
					color: $secondary;
					text-decoration: none;
					position: relative;
					top: 3px;
					
					&:hover, &:active {
						&.remove, &.visit {
							&:before {
								@include alpha-attribute('background-color', rgba($contrast, 0.4), black);
							}
						}
					}
					
					&.remove, &.visit {
						&:before {
							border-radius: $spacer * 2;
							font-family: $iykaaIcons;
							font-size: 32px;
						}
					}
					
					&.remove {
						&:before {
							content: "\68";
						}
					}
					
					&.visit {
						&:before {
							content: "\63";
						}
					}
				}
			}
		}
	}
}