.library-showcase {
	
	.slick-prev, .slick-next {
		z-index: 999;
		
		&:before {
			@include alpha-attribute('color', rgba($secondary, 0.8), black);
		}
	}
	.slick-prev {
		left: $spacer;
	}
	.slick-next {
		right: $spacer;
	}
	
	.banner-wrap {
		overflow: hidden;
	}
	
	.tap-throughs {
		
		.inner {
			height: $spacer * 11;
			padding-top: $spacer * 5;
			background-color: transparent !important;
			display: block;
			@include linearGradientVert(rgba($contrast, 0.0), rgba($contrast, 0.75));
			@include vendor-prefix('transition', 'background 0.3s ease');
			
			&:hover, &:active {
				@include linearGradientVert(rgba($contrast, 0.5), rgba($contrast, 1));
			}
		}
		&.large {
			.inner {
				height: $spacer * 18;
				padding-top: $spacer * 12;
			}
		}
	}
	
	.show-block {
		margin-bottom: $spacer;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-clip: content-box;
		background-image: url('/iykaa-internal-communications-platform/wp-content/themes/iykaa-internal-communications-platform/css/assets/enyware-cms-icon.svg');
		@include alpha-attribute('background-color', rgba($primary, 0.85), black);
		
		.cta {
			margin-bottom: 0;
		}
		
		&.contain {
			// background-size: contain;
			background-size: 75%;
			background-position-y: 40%;
		}
		
		&.empty {
			background-color: $primary + #333;
		}
		
		.empty {
			background: none;
			
			&:hover, &:active {
				background: none;
			}
		}
	}
}

