.single {
	article {
		margin-top: $spacer;
		min-height: 40vh;
		
		@media(max-width:$mp){
			margin-top: 0;
			min-height: auto;
		}
		
		p {
			&:first-of-type {
				font-weight: bold;
			}
		}
	}
	
	.hero-img {
		
		&.mobile {
			display: none;
			margin-bottom: $spacer;
			
			@media(max-width:$ml) {
				display: block;
			}
		}
	}
}

.single-sidebar {
	@media(max-width:$tp - 1) {
		margin-top: $spacer;
	}
	
	.hero-img {
		margin-bottom: $spacer;
		display: block;
	}
}