.welcome {
	background: $primary - #222222;
	padding: $spacer / 2 0px;
	border-bottom: 1px solid $primary + #222222;
	
	@media(max-width:$mp) {
		padding: $spacer / 2 0px $spacer / 4;
	}
	
	h1 {
		color: #ffffff;
		@include responsive-font(5vw, 18px, 24px);
		@include responsive-lineheight(6vw, 24px, 30px);
		font-weight: 300;
		margin-bottom: 0;
		margin-top: 8px;
		
		@media(max-width:$ml) {
			margin-top: 0;
			font-size: 4vw;
			line-height: 5vw;
		}
	}
	
	.iykaa-icon {
		max-width: 40px;
		max-height: 40px;
		float: left;
		margin-right: 10px;
		margin-bottom: 0;
		
		@media(max-width:$mp) {
			max-width: 30px;
			max-height: 30px;
			margin-right: 5px;
			margin-bottom: 10px;
		}
	}
	
	.status {
		margin-top: 0;
		margin-bottom: 0;
		
		small {
			margin-bottom: 0;
		}
		
		&:before {
			content: none;
		}
		
		.current {
			float: left;
			width: 50%;
			
			.status {
				font-weight: bold;
				&:after {
					font-family: "iykaa-icons";
					content: "\73";
					font-weight: normal;
					font-size: 18px;
					margin-left: 5px;
					bottom: -4px;
					position: relative;
				}
				
				&.available {
					color: $success;
					&:after {
						color: $success;
					}
				}
				&.unavailable {
					color: $stop;
					&:after {
						color: $stop;
					}
				}
				&.holiday {
					color: $warning;
					&:after {
						color: $warning;
					}
				}
				&.travelling {
					color: $holiday;
					&:after {
						color: $holiday;
					}
				}
			}
			
			@media(max-width:$tp) {
				display: none;
			}
		}
		
		.update {
			border: 1px solid $secondary;
			border-radius: $spacer * 4;
			padding: 8px 4px;
			display: block;
			font-weight: normal;
			width: 50%;
			height: $spacer * 2;
			float: right;
			
			&:after {
				font-family: "iykaa-icons";
				content: "\73";
				font-weight: normal;
				font-size: 18px;
				margin-left: 5px;
				bottom: -4px;
				position: relative;
			}
			
			&.available {
				border-color: $success;
				&:after {
					color: $success;
				}
			}
			&.unavailable {
				border-color: $stop;
				&:after {
					color: $stop;
				}
			}
			&.holiday {
				border-color: $warning;
				&:after {
					color: $warning;
				}
			}
			&.travelling {
				border-color: $holiday;
				&:after {
					color: $holiday;
				}
			}
			
			@media(max-width:$wrapperwidth) {
				text-transform: capitalize;
					span {
						display: none;
					}
			}
				
			@media(max-width:$ml) {
				font-size: 4vw;
				line-height: 5vw;
				width: 100%;
			}
			
			@media(max-width:320px){
				@include vendor-prefix('transform','scale(0.8)');
				top: -5px;
				position: relative;
			}
		}
		
		&.status-search {
			text-align: center;
			padding-top: $spacer / 2;

			@media(max-width:320px) {
				padding-top: $spacer / 4;
			}
			
			span {
				margin-top: $spacer;
				margin-right: $spacer / 2;
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
			.i-icon {
				border: 1px solid $secondary;
				border-radius: $spacer * 3;
				margin-top: -10px;
				font-size: 20px;
				width: $spacer * 2;
				padding: 8px;
				color: $secondary;
				float: right;
				text-align: right;
				padding-top: $spacer / 2;
				
				@media(max-width:320px) {
					@include vendor-prefix('transform','scale(0.8)');
				}
			}
		}
		&.status-select {
			@media(max-width:$tp) {

			}
		}
		&.status-search {
			.i-icon {
				text-align: center;
			}
		}
		
		@media(max-width: $tl) {
			text-align: center !important;
		}
	}
}