@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  margin: 0; }

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }

.full {
  max-width: 100% !important; }

.no-gaps {
  padding-left: 0;
  padding-right: 0; }
  .no-gaps .row {
    margin-left: 0;
    margin-right: 0; }
  .no-gaps .dt-12, .no-gaps .tl-12, .no-gaps .tp-12, .no-gaps .ml-12, .no-gaps .mp-12 {
    padding-left: 0;
    padding-right: 0; }
  .no-gaps .dt-11, .no-gaps .tl-11, .no-gaps .tp-11, .no-gaps .ml-11, .no-gaps .mp-11 {
    padding-left: 0;
    padding-right: 0; }
  .no-gaps .dt-10, .no-gaps .tl-10, .no-gaps .tp-10, .no-gaps .ml-10, .no-gaps .mp-10 {
    padding-left: 0;
    padding-right: 0; }
  .no-gaps .dt-9, .no-gaps .tl-9, .no-gaps .tp-9, .no-gaps .ml-9, .no-gaps .mp-9 {
    padding-left: 0;
    padding-right: 0; }
  .no-gaps .dt-8, .no-gaps .tl-8, .no-gaps .tp-8, .no-gaps .ml-8, .no-gaps .mp-8 {
    padding-left: 0;
    padding-right: 0; }
  .no-gaps .dt-7, .no-gaps .tl-7, .no-gaps .tp-7, .no-gaps .ml-7, .no-gaps .mp-7 {
    padding-left: 0;
    padding-right: 0; }
  .no-gaps .dt-6, .no-gaps .tl-6, .no-gaps .tp-6, .no-gaps .ml-6, .no-gaps .mp-6 {
    padding-left: 0;
    padding-right: 0; }
  .no-gaps .dt-5, .no-gaps .tl-5, .no-gaps .tp-5, .no-gaps .ml-5, .no-gaps .mp-5 {
    padding-left: 0;
    padding-right: 0; }
  .no-gaps .dt-4, .no-gaps .tl-4, .no-gaps .tp-4, .no-gaps .ml-4, .no-gaps .mp-4 {
    padding-left: 0;
    padding-right: 0; }
  .no-gaps .dt-3, .no-gaps .tl-3, .no-gaps .tp-3, .no-gaps .ml-3, .no-gaps .mp-3 {
    padding-left: 0;
    padding-right: 0; }
  .no-gaps .dt-2, .no-gaps .tl-2, .no-gaps .tp-2, .no-gaps .ml-2, .no-gaps .mp-2 {
    padding-left: 0;
    padding-right: 0; }
  .no-gaps .dt-1, .no-gaps .tl-1, .no-gaps .tp-1, .no-gaps .ml-1, .no-gaps .mp-1 {
    padding-left: 0;
    padding-right: 0; }

.gaps {
  padding-left: 10px;
  padding-right: 10px; }
  .gaps .row {
    margin-left: -10px;
    margin-right: -10px; }
  .gaps .dt-12, .gaps .tl-12, .gaps .tp-12, .gaps .ml-12, .gaps .mp-12 {
    padding-left: 10px;
    padding-right: 10px; }
  .gaps .dt-11, .gaps .tl-11, .gaps .tp-11, .gaps .ml-11, .gaps .mp-11 {
    padding-left: 10px;
    padding-right: 10px; }
  .gaps .dt-10, .gaps .tl-10, .gaps .tp-10, .gaps .ml-10, .gaps .mp-10 {
    padding-left: 10px;
    padding-right: 10px; }
  .gaps .dt-9, .gaps .tl-9, .gaps .tp-9, .gaps .ml-9, .gaps .mp-9 {
    padding-left: 10px;
    padding-right: 10px; }
  .gaps .dt-8, .gaps .tl-8, .gaps .tp-8, .gaps .ml-8, .gaps .mp-8 {
    padding-left: 10px;
    padding-right: 10px; }
  .gaps .dt-7, .gaps .tl-7, .gaps .tp-7, .gaps .ml-7, .gaps .mp-7 {
    padding-left: 10px;
    padding-right: 10px; }
  .gaps .dt-6, .gaps .tl-6, .gaps .tp-6, .gaps .ml-6, .gaps .mp-6 {
    padding-left: 10px;
    padding-right: 10px; }
  .gaps .dt-5, .gaps .tl-5, .gaps .tp-5, .gaps .ml-5, .gaps .mp-5 {
    padding-left: 10px;
    padding-right: 10px; }
  .gaps .dt-4, .gaps .tl-4, .gaps .tp-4, .gaps .ml-4, .gaps .mp-4 {
    padding-left: 10px;
    padding-right: 10px; }
  .gaps .dt-3, .gaps .tl-3, .gaps .tp-3, .gaps .ml-3, .gaps .mp-3 {
    padding-left: 10px;
    padding-right: 10px; }
  .gaps .dt-2, .gaps .tl-2, .gaps .tp-2, .gaps .ml-2, .gaps .mp-2 {
    padding-left: 10px;
    padding-right: 10px; }
  .gaps .dt-1, .gaps .tl-1, .gaps .tp-1, .gaps .ml-1, .gaps .mp-1 {
    padding-left: 10px;
    padding-right: 10px; }

.row {
  margin-left: -10px;
  margin-right: -10px; }

.wrapper:before,
.row:before {
  display: table;
  content: " "; }

.wrapper:after,
.row:after {
  clear: both;
  display: table;
  content: " "; }

.nested .dt-12, .nested .tl-12, .nested .tp-12, .nested .ml-12, .nested .mp-12 {
  margin-bottom: 0; }

.nested .dt-11, .nested .tl-11, .nested .tp-11, .nested .ml-11, .nested .mp-11 {
  margin-bottom: 0; }

.nested .dt-10, .nested .tl-10, .nested .tp-10, .nested .ml-10, .nested .mp-10 {
  margin-bottom: 0; }

.nested .dt-9, .nested .tl-9, .nested .tp-9, .nested .ml-9, .nested .mp-9 {
  margin-bottom: 0; }

.nested .dt-8, .nested .tl-8, .nested .tp-8, .nested .ml-8, .nested .mp-8 {
  margin-bottom: 0; }

.nested .dt-7, .nested .tl-7, .nested .tp-7, .nested .ml-7, .nested .mp-7 {
  margin-bottom: 0; }

.nested .dt-6, .nested .tl-6, .nested .tp-6, .nested .ml-6, .nested .mp-6 {
  margin-bottom: 0; }

.nested .dt-5, .nested .tl-5, .nested .tp-5, .nested .ml-5, .nested .mp-5 {
  margin-bottom: 0; }

.nested .dt-4, .nested .tl-4, .nested .tp-4, .nested .ml-4, .nested .mp-4 {
  margin-bottom: 0; }

.nested .dt-3, .nested .tl-3, .nested .tp-3, .nested .ml-3, .nested .mp-3 {
  margin-bottom: 0; }

.nested .dt-2, .nested .tl-2, .nested .tp-2, .nested .ml-2, .nested .mp-2 {
  margin-bottom: 0; }

.nested .dt-1, .nested .tl-1, .nested .tp-1, .nested .ml-1, .nested .mp-1 {
  margin-bottom: 0; }

.dt-12, .tl-12, .tp-12, .ml-12, .mp-12 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.dt-11, .tl-11, .tp-11, .ml-11, .mp-11 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.dt-10, .tl-10, .tp-10, .ml-10, .mp-10 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.dt-9, .tl-9, .tp-9, .ml-9, .mp-9 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.dt-8, .tl-8, .tp-8, .ml-8, .mp-8 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.dt-7, .tl-7, .tp-7, .ml-7, .mp-7 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.dt-6, .tl-6, .tp-6, .ml-6, .mp-6 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.dt-5, .tl-5, .tp-5, .ml-5, .mp-5 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.dt-4, .tl-4, .tp-4, .ml-4, .mp-4 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.dt-3, .tl-3, .tp-3, .ml-3, .mp-3 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.dt-2, .tl-2, .tp-2, .ml-2, .mp-2 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.dt-1, .tl-1, .tp-1, .ml-1, .mp-1 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.mp-12 {
  width: 100%; }

.mp-11 {
  width: 91.6666666667%; }

.mp-10 {
  width: 83.3333333333%; }

.mp-9 {
  width: 75%; }

.mp-8 {
  width: 66.6666666667%; }

.mp-7 {
  width: 58.3333333333%; }

.mp-6 {
  width: 50%; }

.mp-5 {
  width: 41.6666666667%; }

.mp-4 {
  width: 33.3333333333%; }

.mp-3 {
  width: 25%; }

.mp-2 {
  width: 16.6666666667%; }

.mp-1 {
  width: 8.3333333333%; }

.ml-12 {
  width: 100%; }

.ml-11 {
  width: 91.6666666667%; }

.ml-10 {
  width: 83.3333333333%; }

.ml-9 {
  width: 75%; }

.ml-8 {
  width: 66.6666666667%; }

.ml-7 {
  width: 58.3333333333%; }

.ml-6 {
  width: 50%; }

.ml-5 {
  width: 41.6666666667%; }

.ml-4 {
  width: 33.3333333333%; }

.ml-3 {
  width: 25%; }

.ml-2 {
  width: 16.6666666667%; }

.ml-1 {
  width: 8.3333333333%; }

.tp-12 {
  width: 100%; }

.tp-11 {
  width: 91.6666666667%; }

.tp-10 {
  width: 83.3333333333%; }

.tp-9 {
  width: 75%; }

.tp-8 {
  width: 66.6666666667%; }

.tp-7 {
  width: 58.3333333333%; }

.tp-6 {
  width: 50%; }

.tp-5 {
  width: 41.6666666667%; }

.tp-4 {
  width: 33.3333333333%; }

.tp-3 {
  width: 25%; }

.tp-2 {
  width: 16.6666666667%; }

.tp-1 {
  width: 8.3333333333%; }

.tl-12 {
  width: 100%; }

.tl-11 {
  width: 91.6666666667%; }

.tl-10 {
  width: 83.3333333333%; }

.tl-9 {
  width: 75%; }

.tl-8 {
  width: 66.6666666667%; }

.tl-7 {
  width: 58.3333333333%; }

.tl-6 {
  width: 50%; }

.tl-5 {
  width: 41.6666666667%; }

.tl-4 {
  width: 33.3333333333%; }

.tl-3 {
  width: 25%; }

.tl-2 {
  width: 16.6666666667%; }

.tl-1 {
  width: 8.3333333333%; }

.dt-12 {
  width: 100%; }

.dt-11 {
  width: 91.6666666667%; }

.dt-10 {
  width: 83.3333333333%; }

.dt-9 {
  width: 75%; }

.dt-8 {
  width: 66.6666666667%; }

.dt-7 {
  width: 58.3333333333%; }

.dt-6 {
  width: 50%; }

.dt-5 {
  width: 41.6666666667%; }

.dt-4 {
  width: 33.3333333333%; }

.dt-3 {
  width: 25%; }

.dt-2 {
  width: 16.6666666667%; }

.dt-1 {
  width: 8.3333333333%; }

.indent-mp-12, .indent-ml-12, .indent-tp-12, .indent-tl-12, .indent-dt-12 {
  margin-left: 100%; }

.indent-mp-11, .indent-ml-11, .indent-tp-11, .indent-tl-11, .indent-dt-11 {
  margin-left: 91.6666666667%; }

.indent-mp-10, .indent-ml-10, .indent-tp-10, .indent-tl-10, .indent-dt-10 {
  margin-left: 83.3333333333%; }

.indent-mp-9, .indent-ml-9, .indent-tp-9, .indent-tl-9, .indent-dt-9 {
  margin-left: 75%; }

.indent-mp-8, .indent-ml-8, .indent-tp-8, .indent-tl-8, .indent-dt-8 {
  margin-left: 66.6666666667%; }

.indent-mp-7, .indent-ml-7, .indent-tp-7, .indent-tl-7, .indent-dt-7 {
  margin-left: 58.3333333333%; }

.indent-mp-6, .indent-ml-6, .indent-tp-6, .indent-tl-6, .indent-dt-6 {
  margin-left: 50%; }

.indent-mp-5, .indent-ml-5, .indent-tp-5, .indent-tl-5, .indent-dt-5 {
  margin-left: 41.6666666667%; }

.indent-mp-4, .indent-ml-4, .indent-tp-4, .indent-tl-4, .indent-dt-4 {
  margin-left: 33.3333333333%; }

.indent-mp-3, .indent-ml-3, .indent-tp-3, .indent-tl-3, .indent-dt-3 {
  margin-left: 25%; }

.indent-mp-2, .indent-ml-2, .indent-tp-2, .indent-tl-2, .indent-dt-2 {
  margin-left: 16.6666666667%; }

.indent-mp-1, .indent-ml-1, .indent-tp-1, .indent-tl-1, .indent-dt-1 {
  margin-left: 8.3333333333%; }

@media (min-width: 1170px) and (max-width: 1440px) {
  .wrapper {
    max-width: 1170px; } }

@media (max-width: 1169px) {
  .wrapper {
    max-width: 1024px; }
  .dt-12 {
    width: 100%; }
  .dt-11 {
    width: 100%; }
  .dt-10 {
    width: 100%; }
  .dt-9 {
    width: 100%; }
  .dt-8 {
    width: 100%; }
  .dt-7 {
    width: 100%; }
  .dt-6 {
    width: 100%; }
  .dt-5 {
    width: 100%; }
  .dt-4 {
    width: 100%; }
  .dt-3 {
    width: 100%; }
  .dt-2 {
    width: 100%; }
  .dt-1 {
    width: 100%; }
  .indent-dt-12 {
    margin-left: 0; }
  .indent-dt-11 {
    margin-left: 0; }
  .indent-dt-10 {
    margin-left: 0; }
  .indent-dt-9 {
    margin-left: 0; }
  .indent-dt-8 {
    margin-left: 0; }
  .indent-dt-7 {
    margin-left: 0; }
  .indent-dt-6 {
    margin-left: 0; }
  .indent-dt-5 {
    margin-left: 0; }
  .indent-dt-4 {
    margin-left: 0; }
  .indent-dt-3 {
    margin-left: 0; }
  .indent-dt-2 {
    margin-left: 0; }
  .indent-dt-1 {
    margin-left: 0; }
  .mp-12 {
    width: 100%; }
  .mp-11 {
    width: 91.6666666667%; }
  .mp-10 {
    width: 83.3333333333%; }
  .mp-9 {
    width: 75%; }
  .mp-8 {
    width: 66.6666666667%; }
  .mp-7 {
    width: 58.3333333333%; }
  .mp-6 {
    width: 50%; }
  .mp-5 {
    width: 41.6666666667%; }
  .mp-4 {
    width: 33.3333333333%; }
  .mp-3 {
    width: 25%; }
  .mp-2 {
    width: 16.6666666667%; }
  .mp-1 {
    width: 8.3333333333%; }
  .ml-12 {
    width: 100%; }
  .ml-11 {
    width: 91.6666666667%; }
  .ml-10 {
    width: 83.3333333333%; }
  .ml-9 {
    width: 75%; }
  .ml-8 {
    width: 66.6666666667%; }
  .ml-7 {
    width: 58.3333333333%; }
  .ml-6 {
    width: 50%; }
  .ml-5 {
    width: 41.6666666667%; }
  .ml-4 {
    width: 33.3333333333%; }
  .ml-3 {
    width: 25%; }
  .ml-2 {
    width: 16.6666666667%; }
  .ml-1 {
    width: 8.3333333333%; }
  .tp-12 {
    width: 100%; }
  .tp-11 {
    width: 91.6666666667%; }
  .tp-10 {
    width: 83.3333333333%; }
  .tp-9 {
    width: 75%; }
  .tp-8 {
    width: 66.6666666667%; }
  .tp-7 {
    width: 58.3333333333%; }
  .tp-6 {
    width: 50%; }
  .tp-5 {
    width: 41.6666666667%; }
  .tp-4 {
    width: 33.3333333333%; }
  .tp-3 {
    width: 25%; }
  .tp-2 {
    width: 16.6666666667%; }
  .tp-1 {
    width: 8.3333333333%; }
  .tl-12 {
    width: 100%; }
  .tl-11 {
    width: 91.6666666667%; }
  .tl-10 {
    width: 83.3333333333%; }
  .tl-9 {
    width: 75%; }
  .tl-8 {
    width: 66.6666666667%; }
  .tl-7 {
    width: 58.3333333333%; }
  .tl-6 {
    width: 50%; }
  .tl-5 {
    width: 41.6666666667%; }
  .tl-4 {
    width: 33.3333333333%; }
  .tl-3 {
    width: 25%; }
  .tl-2 {
    width: 16.6666666667%; }
  .tl-1 {
    width: 8.3333333333%; } }

@media (max-width: 1023px) {
  .tl-12 {
    width: 100%; }
  .tl-11 {
    width: 100%; }
  .tl-10 {
    width: 100%; }
  .tl-9 {
    width: 100%; }
  .tl-8 {
    width: 100%; }
  .tl-7 {
    width: 100%; }
  .tl-6 {
    width: 100%; }
  .tl-5 {
    width: 100%; }
  .tl-4 {
    width: 100%; }
  .tl-3 {
    width: 100%; }
  .tl-2 {
    width: 100%; }
  .tl-1 {
    width: 100%; }
  .indent-tl-12 {
    margin-left: 0; }
  .indent-tl-11 {
    margin-left: 0; }
  .indent-tl-10 {
    margin-left: 0; }
  .indent-tl-9 {
    margin-left: 0; }
  .indent-tl-8 {
    margin-left: 0; }
  .indent-tl-7 {
    margin-left: 0; }
  .indent-tl-6 {
    margin-left: 0; }
  .indent-tl-5 {
    margin-left: 0; }
  .indent-tl-4 {
    margin-left: 0; }
  .indent-tl-3 {
    margin-left: 0; }
  .indent-tl-2 {
    margin-left: 0; }
  .indent-tl-1 {
    margin-left: 0; }
  .mp-12 {
    width: 100%; }
  .mp-11 {
    width: 91.6666666667%; }
  .mp-10 {
    width: 83.3333333333%; }
  .mp-9 {
    width: 75%; }
  .mp-8 {
    width: 66.6666666667%; }
  .mp-7 {
    width: 58.3333333333%; }
  .mp-6 {
    width: 50%; }
  .mp-5 {
    width: 41.6666666667%; }
  .mp-4 {
    width: 33.3333333333%; }
  .mp-3 {
    width: 25%; }
  .mp-2 {
    width: 16.6666666667%; }
  .mp-1 {
    width: 8.3333333333%; }
  .ml-12 {
    width: 100%; }
  .ml-11 {
    width: 91.6666666667%; }
  .ml-10 {
    width: 83.3333333333%; }
  .ml-9 {
    width: 75%; }
  .ml-8 {
    width: 66.6666666667%; }
  .ml-7 {
    width: 58.3333333333%; }
  .ml-6 {
    width: 50%; }
  .ml-5 {
    width: 41.6666666667%; }
  .ml-4 {
    width: 33.3333333333%; }
  .ml-3 {
    width: 25%; }
  .ml-2 {
    width: 16.6666666667%; }
  .ml-1 {
    width: 8.3333333333%; }
  .tp-12 {
    width: 100%; }
  .tp-11 {
    width: 91.6666666667%; }
  .tp-10 {
    width: 83.3333333333%; }
  .tp-9 {
    width: 75%; }
  .tp-8 {
    width: 66.6666666667%; }
  .tp-7 {
    width: 58.3333333333%; }
  .tp-6 {
    width: 50%; }
  .tp-5 {
    width: 41.6666666667%; }
  .tp-4 {
    width: 33.3333333333%; }
  .tp-3 {
    width: 25%; }
  .tp-2 {
    width: 16.6666666667%; }
  .tp-1 {
    width: 8.3333333333%; } }

@media (max-width: 767px) {
  .tp-12 {
    width: 100%; }
  .tp-11 {
    width: 100%; }
  .tp-10 {
    width: 100%; }
  .tp-9 {
    width: 100%; }
  .tp-8 {
    width: 100%; }
  .tp-7 {
    width: 100%; }
  .tp-6 {
    width: 100%; }
  .tp-5 {
    width: 100%; }
  .tp-4 {
    width: 100%; }
  .tp-3 {
    width: 100%; }
  .tp-2 {
    width: 100%; }
  .tp-1 {
    width: 100%; }
  .indent-tp-12 {
    margin-left: 0; }
  .indent-tp-11 {
    margin-left: 0; }
  .indent-tp-10 {
    margin-left: 0; }
  .indent-tp-9 {
    margin-left: 0; }
  .indent-tp-8 {
    margin-left: 0; }
  .indent-tp-7 {
    margin-left: 0; }
  .indent-tp-6 {
    margin-left: 0; }
  .indent-tp-5 {
    margin-left: 0; }
  .indent-tp-4 {
    margin-left: 0; }
  .indent-tp-3 {
    margin-left: 0; }
  .indent-tp-2 {
    margin-left: 0; }
  .indent-tp-1 {
    margin-left: 0; }
  .mp-12 {
    width: 100%; }
  .mp-11 {
    width: 91.6666666667%; }
  .mp-10 {
    width: 83.3333333333%; }
  .mp-9 {
    width: 75%; }
  .mp-8 {
    width: 66.6666666667%; }
  .mp-7 {
    width: 58.3333333333%; }
  .mp-6 {
    width: 50%; }
  .mp-5 {
    width: 41.6666666667%; }
  .mp-4 {
    width: 33.3333333333%; }
  .mp-3 {
    width: 25%; }
  .mp-2 {
    width: 16.6666666667%; }
  .mp-1 {
    width: 8.3333333333%; }
  .ml-12 {
    width: 100%; }
  .ml-11 {
    width: 91.6666666667%; }
  .ml-10 {
    width: 83.3333333333%; }
  .ml-9 {
    width: 75%; }
  .ml-8 {
    width: 66.6666666667%; }
  .ml-7 {
    width: 58.3333333333%; }
  .ml-6 {
    width: 50%; }
  .ml-5 {
    width: 41.6666666667%; }
  .ml-4 {
    width: 33.3333333333%; }
  .ml-3 {
    width: 25%; }
  .ml-2 {
    width: 16.6666666667%; }
  .ml-1 {
    width: 8.3333333333%; } }

@media (max-width: 567px) {
  .ml-12 {
    width: 100%; }
  .ml-11 {
    width: 100%; }
  .ml-10 {
    width: 100%; }
  .ml-9 {
    width: 100%; }
  .ml-8 {
    width: 100%; }
  .ml-7 {
    width: 100%; }
  .ml-6 {
    width: 100%; }
  .ml-5 {
    width: 100%; }
  .ml-4 {
    width: 100%; }
  .ml-3 {
    width: 100%; }
  .ml-2 {
    width: 100%; }
  .ml-1 {
    width: 100%; }
  .indent-ml-12 {
    margin-left: 0; }
  .indent-ml-11 {
    margin-left: 0; }
  .indent-ml-10 {
    margin-left: 0; }
  .indent-ml-9 {
    margin-left: 0; }
  .indent-ml-8 {
    margin-left: 0; }
  .indent-ml-7 {
    margin-left: 0; }
  .indent-ml-6 {
    margin-left: 0; }
  .indent-ml-5 {
    margin-left: 0; }
  .indent-ml-4 {
    margin-left: 0; }
  .indent-ml-3 {
    margin-left: 0; }
  .indent-ml-2 {
    margin-left: 0; }
  .indent-ml-1 {
    margin-left: 0; }
  .mp-12 {
    width: 100%; }
  .mp-11 {
    width: 91.6666666667%; }
  .mp-10 {
    width: 83.3333333333%; }
  .mp-9 {
    width: 75%; }
  .mp-8 {
    width: 66.6666666667%; }
  .mp-7 {
    width: 58.3333333333%; }
  .mp-6 {
    width: 50%; }
  .mp-5 {
    width: 41.6666666667%; }
  .mp-4 {
    width: 33.3333333333%; }
  .mp-3 {
    width: 25%; }
  .mp-2 {
    width: 16.6666666667%; }
  .mp-1 {
    width: 8.3333333333%; } }

.force {
  float: right; }

@media (max-width: 567px) {
  .mp-hide {
    display: none !important; }
  .ml-hide {
    display: none !important; }
  .tp-hide {
    display: none !important; }
  .tl-hide {
    display: none !important; }
  .dt-hide {
    display: none !important; } }

@media (min-width: 568px) and (max-width: 767px) {
  .ml-hide {
    display: none !important; }
  .tp-hide {
    display: none !important; }
  .tl-hide {
    display: none !important; }
  .dt-hide {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .tp-hide {
    display: none !important; }
  .tl-hide {
    display: none !important; }
  .dt-hide {
    display: none !important; } }

@media (max-width: 1024px) {
  .tl-hide {
    display: none !important; }
  .dt-hide {
    display: none !important; } }

@media (min-width: 1025px) {
  .dt-hide {
    display: none !important; } }

.cta {
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 40px;
  -webkit-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .cta.size-xs {
    padding: 6.6666666667px 10px; }
  .cta.size-s {
    padding: 10px 20px; }
  .cta.size-m {
    padding: 20px 30px; }
  .cta.size-l {
    padding: 30px 60px; }
  .cta.size-xl {
    padding: 60px 80px; }
  .cta.full {
    text-align: center;
    display: block;
    width: 100%; }
  .cta.outline {
    border-style: solid;
    border-width: 2px; }
  .cta.dashed {
    border-style: dashed; }
  .cta.primary {
    background-color: #28333C;
    color: #aad3cb;
    border-color: #28333C; }
    .cta.primary.outline {
      background-color: transparent;
      color: #28333C;
      border-color: #28333C; }
      .cta.primary.outline:hover, .cta.primary.outline:focus {
        color: #ffffff; }
    .cta.primary:hover, .cta.primary:focus {
      background: #17222b; }
  .cta.secondary {
    background-color: #aad3cb;
    color: #28333C;
    border-color: #aad3cb; }
    .cta.secondary.outline {
      background-color: transparent;
      color: #aad3cb;
      border-color: #aad3cb; }
      .cta.secondary.outline:hover, .cta.secondary.outline:focus {
        color: #28333C; }
    .cta.secondary:hover, .cta.secondary:focus {
      background: #99c2ba; }
  .cta.tertiary {
    background-color: #666666;
    color: #28333C;
    border-color: #666666; }
    .cta.tertiary.outline {
      background-color: transparent;
      color: #666666;
      border-color: #666666; }
      .cta.tertiary.outline:hover, .cta.tertiary.outline:focus {
        color: #ffffff; }
    .cta.tertiary:hover, .cta.tertiary:focus {
      background: #555555; }
  .cta.info {
    background-color: #27aae1;
    color: #ffffff;
    border-color: #27aae1; }
    .cta.info.outline {
      background-color: transparent;
      color: #27aae1;
      border-color: #27aae1; }
      .cta.info.outline:hover, .cta.info.outline:focus {
        color: #ffffff; }
    .cta.info:hover, .cta.info:focus {
      background: #1699d0; }
  .cta.success {
    background-color: #8cc63f;
    color: #ffffff;
    border-color: #8cc63f; }
    .cta.success.outline {
      background-color: transparent;
      color: #8cc63f;
      border-color: #8cc63f; }
      .cta.success.outline:hover, .cta.success.outline:focus {
        color: #ffffff; }
    .cta.success:hover, .cta.success:focus {
      background: #7bb52e; }
  .cta.warning {
    background-color: #fbb03b;
    color: #ffffff;
    border-color: #fbb03b; }
    .cta.warning.outline {
      background-color: transparent;
      color: #fbb03b;
      border-color: #fbb03b; }
      .cta.warning.outline:hover, .cta.warning.outline:focus {
        color: #ffffff; }
    .cta.warning:hover, .cta.warning:focus {
      background: #ea9f2a; }
  .cta.stop {
    background-color: #ed4a56;
    color: #ffffff;
    border-color: #ed4a56; }
    .cta.stop.outline {
      background-color: transparent;
      color: #ed4a56;
      border-color: #ed4a56; }
      .cta.stop.outline:hover, .cta.stop.outline:focus {
        color: #ffffff; }
    .cta.stop:hover, .cta.stop:focus {
      background: #dc3945; }
  .cta.white {
    background-color: #ffffff;
    color: #28333C;
    border-color: #ffffff; }
    .cta.white.outline {
      background-color: transparent;
      color: #ffffff;
      border-color: #ffffff; }
      .cta.white.outline:hover, .cta.white.outline:focus {
        color: #28333C; }
    .cta.white:hover, .cta.white:focus {
      background: #eeeeee; }
  .cta.corners {
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  .cta.border-p {
    border-color: #28333C; }
  .cta.border-s {
    border-color: #aad3cb; }
  .cta.border-t {
    border-color: #666666; }
  .cta.full {
    width: 100%; }
  .cta.align-c {
    text-align: center; }
  .cta.align-r {
    text-align: right; }

.forgot {
  color: #ffffff; }
  .forgot:hover {
    text-decoration: underline; }

@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fa-solid-900.eot");
  src: url("fonts/fa-solid-900.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("fonts/fa-solid-900.woff2") format("woff2"), url("fonts/fa-solid-900.woff") format("woff"), url("fonts/fa-solid-900.ttf") format("truetype"), url("fonts/fa-solid-900.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin-left: 5px;
  font-family: FontAwesome !important; }

.fa-dms-add:before {
  content: "\f196"; }

.fa-dms-edit:before {
  content: "\f044"; }

.fa-dms-manage:before {
  content: "\f0f6"; }

.fa-asc:before {
  content: "\f0d8"; }

.fa-desc:before {
  content: "\f0d7"; }

.fa-excel:before {
  content: "\f1c3"; }

.fa-file:before {
  content: "\f016"; }

.fa-pdf:before {
  content: "\f1c1"; }

.fa-word-doc:before {
  content: "\f1c2"; }

.fa-image:before {
  content: "\f1c5"; }

.fa-zip:before {
  content: "\f1c6"; }

.fa-single-left:before {
  content: "\f104"; }

.fa-double-left:before {
  content: "\f100"; }

.fa-single-right:before {
  content: "\f105"; }

.fa-double-right:before {
  content: "\f101"; }

.fa-vehicles:before {
  content: "\f1b9"; }

.fa-household:before {
  content: "\f015"; }

.fa-sporting-goods:before {
  content: "\f45f"; }

.fa-clothing:before {
  content: "\f553"; }

.fa-free-to-good-home:before {
  content: "\f06b"; }

.fa-childbaby:before {
  content: "\f1ae"; }

.fa-electronics:before {
  content: "\f11b"; }

.fa-for-sale:before {
  content: "\f02c"; }

.fa-discounts:before {
  content: "\f218"; }

.fa-recommended:before {
  content: "\f164"; }

.fa-wanted:before {
  content: "\f1e5"; }

@font-face {
  font-family: "iykaa-icons";
  src: url("fonts/iykaa-icons.eot");
  src: url("fonts/iykaa-icons.eot?#iefix") format("embedded-opentype"), url("fonts/iykaa-icons.woff") format("woff"), url("fonts/iykaa-icons.ttf") format("truetype"), url("fonts/iykaa-icons.svg#iykaa-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "iykaa-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "iykaa-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.i-icon {
  width: 40px;
  font-size: 20px;
  float: left;
  color: #aad3cb;
  text-align: center;
  padding-top: 3px; }
  .i-icon.large {
    padding-top: 10px;
    font-size: 30px; }
  .i-icon.x-large {
    font-size: 46px;
    width: 100%; }
  .i-icon.login {
    background-color: #aad3cb;
    color: #28333C;
    text-align: center;
    float: none;
    margin: 6px 0px;
    padding: 8px;
    border-radius: 60px;
    position: absolute;
    right: 6px;
    width: 45px;
    z-index: -1;
    top: -2px; }

.icon-ii-name:before {
  content: "\61"; }

.icon-ii-cog:before {
  content: "\62"; }

.icon-ii-chevron-right:before {
  content: "\63"; }

.icon-ii-download:before {
  content: "\64"; }

.icon-ii-contacts:before {
  content: "\65"; }

.icon-ii-user:before {
  content: "\66"; }

.icon-ii-logout:before {
  content: "\67"; }

.icon-ii-close:before {
  content: "\68"; }

.icon-ii-envelope:before {
  content: "\69"; }

.icon-ii-menu:before {
  content: "\6a"; }

.icon-ii-share:before {
  content: "\6b"; }

.icon-ii-location:before {
  content: "\6c"; }

.icon-ii-user-group:before {
  content: "\6d"; }

.icon-ii-search:before {
  content: "\6e"; }

.icon-ii-phone:before {
  content: "\6f"; }

.icon-ii-chevron-down:before {
  content: "\70"; }

.icon-ii-whats-happening:before {
  content: "\71"; }

.icon-ii-home:before {
  content: "\72"; }

.icon-ii-status:before {
  content: "\73"; }

.icon-ii-face:before {
  content: "\74"; }

.icon-ii-note:before {
  content: "\75"; }

.icon-ii-open-lock:before {
  content: "\76"; }

.icon-ii-notification:before {
  content: "\77"; }

.icon-ii-play:before {
  content: "\78"; }

.icon-ii-library:before {
  content: "\79"; }

.icon-ii-information:before {
  content: "\7a"; }

.icon-ii-key:before {
  content: "\41"; }

.icon-ii-edit:before {
  content: "\42"; }

.icon-ii-clipboard:before {
  content: "\43"; }

.admin-tools hr {
  border: none;
  height: 2px;
  background-color: #aad3cb;
  margin: 10px 0px;
  width: calc(100% - 10px); }

.admin-tools .content-options, .admin-tools .system-content {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 200px;
  display: table-row;
  width: 100%; }
  .admin-tools .content-options li, .admin-tools .system-content li {
    width: calc(50% - 10px);
    display: table-cell;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px; }
    .admin-tools .content-options li span, .admin-tools .system-content li span {
      font-size: 16px; }
    @media (max-width: 1455px) {
      .admin-tools .content-options li, .admin-tools .system-content li {
        width: 100%; } }
    .admin-tools .content-options li a, .admin-tools .system-content li a {
      padding: 10px 5px;
      display: block;
      text-align: center;
      border: 1px solid #aad3cb;
      min-height: 60px;
      text-align: left;
      -webkit-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
      .admin-tools .content-options li a span, .admin-tools .system-content li a span {
        margin-left: 10px; }
      .admin-tools .content-options li a:hover, .admin-tools .content-options li a:active, .admin-tools .system-content li a:hover, .admin-tools .system-content li a:active {
        background-color: rgba(170, 211, 203, 0.3);
        border-color: #28333C;
        color: #28333C; }
        .admin-tools .content-options li a:hover:before, .admin-tools .content-options li a:active:before, .admin-tools .system-content li a:hover:before, .admin-tools .system-content li a:active:before {
          color: #28333C; }
      .admin-tools .content-options li a:before, .admin-tools .system-content li a:before {
        text-align: center;
        font-family: "iykaa-icons";
        color: #aad3cb;
        font-size: 32px;
        font-weight: normal;
        content: "\61";
        margin-right: 10px;
        position: relative;
        top: 15px;
        font-weight: normal; }
      .admin-tools .content-options li a.notification:before, .admin-tools .system-content li a.notification:before {
        content: "\77"; }
      .admin-tools .content-options li a.happening:before, .admin-tools .system-content li a.happening:before {
        content: "\61"; }
      .admin-tools .content-options li a.location:before, .admin-tools .system-content li a.location:before {
        content: "\6c"; }
      .admin-tools .content-options li a.clipboard:before, .admin-tools .system-content li a.clipboard:before {
        content: "\43"; }
      .admin-tools .content-options li a.library:before, .admin-tools .system-content li a.library:before {
        content: "\79"; }
      .admin-tools .content-options li a.user:before, .admin-tools .system-content li a.user:before {
        content: "\66"; }
      .admin-tools .content-options li a.edit:before, .admin-tools .system-content li a.edit:before {
        content: "\42"; }
      .admin-tools .content-options li a.key:before, .admin-tools .system-content li a.key:before {
        content: "\41"; }

body {
  font-family: 'Montserrat', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; }

.login {
  background-color: #28333C; }
  .login h1 a {
    display: none; }
  .login a {
    color: #28333C; }
    .login a:hover {
      color: #06111a; }
  .login input[type="text"]:focus, .login input[type="search"]:focus, .login input[type="radio"]:focus, .login input[type="tel"]:focus, .login input[type="time"]:focus, .login input[type="url"]:focus, .login input[type="week"]:focus, .login input[type="password"]:focus, .login input[type="checkbox"]:focus, .login input[type="color"]:focus, .login input[type="date"]:focus, .login input[type="datetime"]:focus, .login input[type="datetime-local"]:focus, .login input[type="email"]:focus, .login input[type="month"]:focus, .login input[type="number"]:focus, .login select:focus, .login textarea:focus {
    border-color: #28333C;
    box-shadow: 0 0 2px rgba(40, 51, 60, 0.4); }
  .login form {
    background: #aad3cb; }
  .login #login_error, .login .message {
    background: #aad3cb;
    border-left: 4px solid #666666; }
  .login #backtoblog a, .login #nav a {
    color: #aad3cb; }
    .login #backtoblog a:hover, .login #nav a:hover {
      color: #88b1a9; }

.wp-core-ui .button-primary {
  background: #28333C;
  border-color: #28333C;
  box-shadow: 0 1px 0 #28333C;
  text-shadow: none; }
  .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:active {
    background: #aad3cb;
    color: #28333C;
    border-color: #28333C;
    box-shadow: 0 1px 0 #28333C; }

.wp-admin #wpadminbar > #wp-toolbar > #wp-admin-bar-root-default #wp-admin-bar-wp-logo .ab-icon {
  background-image: url("assets/enyware-cms-icon.svg") !important;
  width: 30px;
  height: 30px;
  margin-right: 0;
  padding: 0; }
  .wp-admin #wpadminbar > #wp-toolbar > #wp-admin-bar-root-default #wp-admin-bar-wp-logo .ab-icon:before {
    content: ''; }

#wp-admin-bar-wp-logo-default, #wp-admin-bar-wp-logo-external {
  display: none !important; }

#adminmenu {
  margin: 0; }

.item-type {
  color: #aad3cb; }

a {
  color: #4a555e; }
  a:active, a:focus, a:hover {
    color: #28333C; }

input[type=checkbox]:checked:before {
  color: #aad3cb; }

input[type=radio]:checked:before {
  background: #aad3cb; }

input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus {
  border-color: #28333C;
  box-shadow: 0 0 1px #28333C; }

select:focus,
textarea:focus {
  border-color: #28333C;
  box-shadow: 0 0 1px #28333C; }

.wp-core-ui .button-primary {
  background-color: #06111a !important;
  border-color: #06111a !important;
  color: #aad3cb;
  box-shadow: 0 0 0 #06111a !important;
  display: inline-block; }
  .wp-core-ui .button-primary:active, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
    background-color: #28333C !important;
    color: #aad3cb !important;
    border-color: #28333C !important;
    box-shadow: 0 0 0 #28333C !important; }

.wp-core-ui .button-secondary {
  background-color: #4a555e;
  border-color: #4a555e;
  color: #aad3cb;
  box-shadow: 0 0 0 #4a555e;
  display: inline-block; }
  .wp-core-ui .button-secondary:active, .wp-core-ui .button-secondary:focus, .wp-core-ui .button-secondary:hover {
    background-color: #28333C;
    border-color: #28333C;
    color: #aad3cb;
    box-shadow: 0 0 0 #28333C; }

#wpadminbar {
  background: #28333C;
  border-bottom: 2px solid #28333C; }

#adminmenu li a:focus div.wp-menu-image::before, #adminmenu li.opensub div.wp-menu-image::before, #adminmenu li:hover div.wp-menu-image::before {
  color: #aad3cb; }

#adminmenu div.wp-menu-image:before {
  color: #28333C; }

#adminmenu a {
  color: #aad3cb; }
  #adminmenu a:hover {
    color: #28333C;
    background-color: #aad3cb !important; }

#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top {
  color: #28333C; }
  #adminmenu li.menu-top:hover div.wp-menu-image:before,
  #adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
    color: #28333C; }

#adminmenu li > a.menu-top:focus {
  color: #28333C; }

#wpcontent,
#wpfooter {
  padding-left: 55px; }

#adminmenu {
  background: #28333C;
  width: 200px; }
  #adminmenu .wp-submenu {
    background: #28333C;
    color: #aad3cb;
    width: 200px; }

#adminmenuback,
#adminmenuwrap {
  background: #28333C;
  width: 200px; }

#adminmenu .wp-submenu {
  left: 200px; }
  #adminmenu .wp-submenu a {
    padding: 5px; }

#adminmenu .wp-submenu-head, #adminmenu a.menu-top {
  padding: 5px; }

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
  background: #28333C; }

#adminmenu .wp-menu-arrow {
  background: #28333C; }
  #adminmenu .wp-menu-arrow div {
    background: #28333C; }

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
  background: #28333C; }

#adminmenu div.wp-menu-image:before {
  color: #aad3cb;
  padding: 6px 0 0;
  display: inline-block; }

.folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
  background: #28333C; }

#adminmenu .wp-has-current-submenu .wp-submenu {
  background-color: #17222b; }
  #adminmenu .wp-has-current-submenu .wp-submenu.sub-open {
    background-color: #17222b; }

#adminmenu .wp-has-current-submenu.opensub .wp-submenu {
  background-color: #17222b; }

#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background-color: #17222b; }

.no-js li.wp-has-current-submenu:hover .wp-submenu {
  background-color: #17222b; }

#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  background-color: #aad3cb;
  color: #28333C !important; }

#adminmenu li.menu-top {
  border-bottom: 1px solid #06111a;
  border-top: 1px solid #17222b;
  display: block; }

#collapse-menu {
  border-top: 1px solid #17222b; }

#adminmenu div.separator,
#adminmenu li.wp-menu-separator {
  margin: 0;
  padding: 0;
  height: 0; }

#wpadminbar .quicklinks ul li a:hover {
  background: #28333C; }

.postbox .hndle,
.stuffbox .hndle {
  background: #17222b;
  border-bottom: 2px solid #28333C;
  color: #ddd; }

.menu-item-bar .menu-item-handle {
  background: #17222b;
  color: #ddd;
  border-bottom: 0; }

.widget-title h4 {
  background: #17222b;
  color: #ddd;
  border-bottom: 0; }
  .widget-title h4:hover {
    color: #aad3cb; }

.widget-title-action {
  background: #4a555e;
  height: 46px; }

.accordion-section-title:after,
.handlediv, .item-edit,
.sidebar-name-arrow,
.widget-action {
  color: #ddd; }

.widget-top a.widget-action:focus::after {
  box-shadow: 0 0 #4a555e;
  border-color: #4a555e;
  color: #aad3cb; }

.wrap .nav-tab {
  background: #28333C;
  color: #ddd;
  padding: 8px 15px;
  font-weight: 400; }

.wrap .nav-tab-active,
.wrap .nav-tab:hover {
  background: #17222b;
  color: #aad3cb;
  font-weight: 700; }

#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item,
#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus {
  color: #aad3cb;
  background: #28333C; }

#wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item {
  color: #aad3cb;
  background: #28333C; }

#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
  color: #aad3cb;
  background: #28333C; }

#wpadminbar .menupop .ab-sub-wrapper {
  background: #28333C;
  border-bottom: 2px solid #28333C;
  border-left: 2px solid #28333C;
  border-right: 2px solid #28333C; }

#wpadminbar .ab-submenu .ab-item {
  color: #4a555e; }

#wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a {
  color: #4a555e; }

#wpadminbar-nojs .quicklinks .menupop:hover ul li a {
  color: #4a555e; }

#wpadminbar .menupop .menupop > .ab-item:hover:before {
  color: #28333C; }

#wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover {
  color: #28333C; }
  #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover strong {
    color: #28333C; }

#wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover {
  color: #28333C; }

#wpadminbar .quicklinks li a:hover .blavatar {
  color: #28333C; }

#wpadminbar li .ab-item:focus:before,
#wpadminbar li a:focus .ab-icon:before {
  color: #28333C; }

#wpadminbar li.hover .ab-icon:before {
  color: #28333C; }

#wpadminbar li.hover .ab-item:after, #wpadminbar li.hover .ab-item:before {
  color: #28333C; }

#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li:hover .ab-icon:before {
  color: #28333C; }

#wpadminbar li:hover .ab-item:after, #wpadminbar li:hover .ab-item:before {
  color: #28333C; }

#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
  color: #28333C; }

#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a {
  color: #28333C; }

#wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover {
  color: #28333C; }
  #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover strong {
    color: #28333C; }

#wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover {
  color: #28333C; }

#wpadminbar li #adminbarsearch.adminbar-focused::before,
#wpadminbar li .ab-item:focus::before,
#wpadminbar li a:focus .ab-icon::before {
  color: #28333C; }

#wpadminbar li.hover .ab-icon::before,
#wpadminbar li.hover .ab-item::before {
  color: #28333C; }

#wpadminbar li:hover #adminbarsearch::before,
#wpadminbar li:hover .ab-icon::before,
#wpadminbar li:hover .ab-item::before {
  color: #28333C; }

#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
  color: #28333C; }

#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label {
  color: #28333C; }

#wpadminbar > #wp-toolbar li.hover span.ab-label,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
  color: #28333C; }

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item, #wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
  color: #28333C; }

#wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item, #wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
  background: #666666 !important; }

#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  background-color: #06111a; }

#sidemenu li a span.update-plugins {
  background-color: #06111a; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
  background: #28333C; }
  #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
    background: #28333C; }

.wrap .add-new-h2:hover {
  background-color: #28333C; }

.filter-count .count,
.title-count {
  background: #06111a; }

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover {
  color: #28333C !important;
  background-color: #aad3cb; }

#adminmenu a:hover,
#adminmenu li.menu-top > a:focus {
  color: #28333C !important;
  background-color: #aad3cb; }

.wrap .add-new-h2,
.wrap .page-title-action {
  border-color: #28333C; }

.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
  background: #28333C;
  border-color: #28333C; }

#collapse-menu:hover {
  color: #28333C; }
  #collapse-menu:hover #collapse-button div::after {
    color: #28333C; }

#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input {
  box-shadow: none; }

.notice-success, div.updated {
  border-left-color: #28333C; }

.view-switch a.current::before {
  color: #28333C; }

.plugin-update-tr.active td, .plugins .active th.check-column {
  border-left: 4px solid #28333C; }

.plugins .active td, .plugins .active th {
  background: #6c7780; }

#adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li.current a .awaiting-mod {
  color: #aad3cb; }

.wp-menu-open {
  background-color: #aad3cb;
  color: #28333C; }
  .wp-menu-open .wp-has-current-submenu .dashicons-before {
    color: #aad3cb; }

#error-page {
  background: #f1f1f1;
  margin-top: 50px; }
  #error-page h1 {
    border-bottom: 1px solid #aad3cb;
    clear: both;
    color: #aad3cb;
    font: 24px "Open Sans", sans-serif;
    margin: 30px 0 0 0;
    padding: 0;
    padding-bottom: 7px; }
  #error-page p {
    font-size: 14px;
    line-height: 1.5;
    margin: 25px 0 20px; }
  #error-page code {
    font-family: Consolas, Monaco, monospace; }
  #error-page ul li {
    margin-bottom: 10px;
    font-size: 14px; }
  #error-page a {
    color: #0073aa; }
  #error-page a:hover,
  #error-page a:active {
    color: #00a0d2; }
  #error-page a:focus {
    color: #124964;
    -webkit-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
    box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
    outline: none; }
  #error-page .error-box {
    background: #ed4a56;
    color: #aad3cb;
    font-family: "Open Sans", sans-serif;
    margin: 2em auto;
    padding: 30px;
    max-width: 700px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    border-radius: 3px; }

#adminmenu .opensub .wp-submenu li.current a, #adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:focus, #adminmenu .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a {
  color: #aad3cb; }

#adminmenu a {
  color: #aad3cb !important; }

.plugins .active td, .plugins .active th {
  background: #cdcdcd; }

#wp_user_log_dashboard_widget {
  display: none; }

.widefat a {
  text-decoration: underline; }

.update-plugins {
  background-color: #aad3cb; }

#adminmenu li a.wp-has-current-submenu .update-plugins {
  background-color: #aad3cb;
  color: #28333C; }

#wp-admin-bar-site-name {
  display: none; }

#wp-admin-bar-view-site a:before {
  content: "\f102"; }
