/* Print Styles */
@media print {
  @page {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    width: auto;
    height: auto; }
  /* Things to hide */
  .welcome, .mobile-bottom, .slide-menu, .super-search, .sidebar, .further-reading, .comp-00601, .status, .edit, .get-user, .nudge-member {
    display: none; }
  /* Things to change on print */
  body {
    background: #fff;
    color: #000;
    height: auto;
    margin: 0 0 0 0; }
  .page-content {
    page-break-after: always;
    max-width: 16cm;
    max-height: 24cm; }
    .page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6, .page-content p {
      margin-bottom: 0.5cm; }
    .page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
      font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
      font-weight: 300;
      page-break-after: avoid; }
    .page-content h1, .page-content h2, .page-content h3, .page-content h4 {
      font-size: 18pt;
      line-height: 21pt; }
    .page-content h5 {
      font-size: 16pt;
      line-height: 21pt; }
    .page-content h6 {
      font-size: 14pt;
      line-height: 18pt; }
    .page-content ul, .page-content img {
      page-break-inside: avoid; }
    .page-content hr {
      background: black; }
    .page-content h2 {
      padding: 0;
      margin: 0; }
    .page-content p, .page-content ul, .page-content li, .page-content span {
      font-size: 9pt;
      line-height: 14pt;
      margin-bottom: 0;
      font-family: "Open Sans", Helvetica, Arial, sans-serif; }
    .page-content p {
      margin-bottom: 0.5cm; }
      .page-content p span {
        margin-bottom: 0.5cm;
        page-break-before: auto; }
    .page-content p {
      /*	a[href^=http]:after {
				content:" <" attr(href) "> ";
			}
			a[href^="#"]:after {
				content: "";
			} */ }
      .page-content p:last-child {
        page-break-after: auto; }
    .page-content table {
      margin: 0.25cm 0 !important;
      padding: 0.25cm !important; }
      .page-content table tbody tr {
        border-bottom: 0.25pt solid #000; }
        .page-content table tbody tr td {
          margin: 0 !important;
          padding: 0 !important;
          font-size: 9pt !important;
          line-height: 14pt !important; }
          .page-content table tbody tr td p {
            font-size: 9pt !important;
            line-height: 14pt !important; }
    .page-content .hero-img {
      max-width: 250pt;
      max-height: 250pt;
      margin: 0 auto; }
    .page-content .avatar {
      max-width: 150pt;
      max-height: 150pt;
      margin: 0 auto; }
    .page-content .further-info .avatar {
      max-width: 75pt;
      max-height: 75pt;
      margin: 0 auto; }
    .page-content .main h2 {
      font-size: 16pt;
      line-height: 21pt; }
    .page-content blockquote {
      margin: 0.5cm;
      font-size: 12pt !important;
      line-height: 16pt !important; }
      .page-content blockquote p {
        font-size: 12pt !important;
        line-height: 16pt !important; } }
