.admin-tools {
	
	hr {
		border: none;
		height: 2px;
		background-color: $secondary;
		margin: 10px 0px;
		width: calc(100% - 10px);
	}
	
	.content-options, .system-content {
		list-style: none;
		padding: 0;
		margin: 0;
		height: 200px;
		display: table-row;
		width: 100%;
		
		li {
			width: calc(50% - 10px);
			display: table-cell;
			float: left;
			margin-right: $spacer / 2;
			margin-bottom: $spacer / 2;
			
			span {
				font-size: 16px;
			}
			
			@media(max-width:1455px){
				width: 100%;
			}
			
			a {
				padding: $spacer / 2 $spacer / 4; 
				display: block;
				text-align: center;
				border: 1px solid $secondary;
				min-height: $spacer * 3;
				text-align: left;
				@include vendor-prefix('transition','all ease 0.3s');
				
				span {
					margin-left: $spacer / 2;
				}
				
				&:hover, &:active {
					background-color: rgba($secondary,0.3);
					border-color: $primary;
					color: $primary;
					
					&:before {
						color: $primary;
					}
				}
				
				&:before {
					text-align: center;
					font-family: $iykaaIcons;
					color: $secondary;
					font-size: 32px;
					font-weight: normal;
					content: "\61";
					margin-right: $spacer / 2;
					position: relative;
					top: 15px;
					font-weight: normal;
				}
				
				&.notification {
					&:before {
						content: "\77";
					}
				}
				&.happening {
					&:before {
						content: "\61";
					}
				}
				&.location {
					&:before {
						content: "\6c";
					}
				}
				&.clipboard {
					&:before {
						content: "\43";
					}
				}
				&.library {
					&:before {
						content: "\79";
					}
				}
				&.user {
					&:before {
						content: "\66";
					}
				}
				&.edit {
					&:before {
						content: "\42";
					}
				}
				&.key {
					&:before {
						content: "\41";
					}
				}
			}
		}
	}
}