$primary: #28333C;
$primaryDark: #14191E;
$secondary: #26a39d; // nhs #0768bc
$tertiary: #666666;
$contrast: #000000;

$bodyText: #ffffff;
$bgColour: #28333C;

// Error colours
$info: #27aae1;
$success: #8cc63f;
$warning: #fbb03b;
$stop: #ed4a56;
$holiday: #2e57a7;