/* Print Styles */
$spacer: 0.5cm;
$headline: 'Josefin Sans', Helvetica, Arial, sans-serif;
$secondaryFont: 'Open Sans', Helvetica, Arial, sans-serif;

@media print {
	@page {
		font-family: $secondaryFont;
		width: auto;
		height: auto;
	}
	
	/* Things to hide */
	.welcome, .mobile-bottom, .slide-menu, .super-search, .sidebar, .further-reading, .comp-00601, .status, .edit, .get-user, .nudge-member {
		display: none;
	}
	
	/* Things to change on print */
	
	body { 
		background: #fff;
		color: #000; 
		height: auto;
		margin: 0 0 0 0;
	}
	
	.page-content {
		page-break-after: always;
		max-width: 16cm;
		max-height: 24cm;

		h1, h2, h3, h4, h5, h6, p {
			margin-bottom: $spacer;
		}
		
		h1, h2, h3, h4, h5, h6 {
			font-family: $headline;
			font-weight: 300;
			page-break-after: avoid;
		}
		
		h1, h2, h3, h4 {
			font-size: 18pt;
			line-height: 21pt;
		}
		
		h5 {
			font-size: 16pt;
			line-height: 21pt;
		}
		
		h6 {
			font-size: 14pt;
			line-height: 18pt;
		}
		
		ul, img {
			page-break-inside: avoid;
		}
		
		hr {
			background: black;
		}
		
		h2 {
			padding: 0;
			margin: 0;
		}
		
		p, ul, li, span {
			font-size: 9pt;
			line-height: 14pt;
			margin-bottom: 0;
			font-family: $secondaryFont;
		}
		
		p {
			margin-bottom: $spacer;
			span {
				margin-bottom: $spacer;
				page-break-before: auto;
			}
		}
		
		p {
		/*	a[href^=http]:after {
				content:" <" attr(href) "> ";
			}
			a[href^="#"]:after {
				content: "";
			} */
			&:last-child {
				page-break-after: auto;
			}
		}
		
		table {
			margin: $spacer / 2  0 !important;
			padding: $spacer / 2 !important;
			tbody {
				tr {
					border-bottom: 0.25pt solid #000;
					td {
						margin: 0 !important;
						padding: 0 !important;
						
						font-size: 9pt !important;
						line-height: 14pt !important;
						p {
							font-size: 9pt !important;
							line-height: 14pt !important;
						}
					}
				}
			}
		}
		
		.hero-img {
			max-width: 250pt;
			max-height: 250pt;
			margin: 0 auto;
		}
		
		.avatar {
			max-width: 150pt;
			max-height: 150pt;
			margin: 0 auto;
		}
		
		.further-info {
			.avatar {
				max-width: 75pt;
				max-height: 75pt;
				margin: 0 auto;
			}			
		}
		
		.main {
			h2 {
				font-size: 16pt;
				line-height: 21pt;
			}
		}
		
		blockquote {
			margin: $spacer;
			font-size: 12pt !important;
			line-height: 16pt !important;
			p {
				font-size: 12pt !important;
				line-height: 16pt !important;
			}
		}
	}
	
	
}