$headline: 'Josefin Sans', Helvetica, Arial, sans-serif;
$secondaryFont: 'Open Sans', Helvetica, Arial, sans-serif;
$iykaaIcons: 'iykaa-icons';

// Font Awesome
@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2') format('woff2'), url('fonts/fontawesome-webfont.woff') format('woff'), url('fonts/fontawesome-webfont.ttf') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	margin-left: 5px;
	font-family: FontAwesome !important;
}

.fa-dms-add:before {
	content: "\f196";
}

.fa-dms-edit:before {
	content: "\f044";
}

.fa-dms-manage:before {
	content: "\f0f6";
}

.fa-asc:before {
	content: "\f0d8";
}

.fa-desc:before {
	content: "\f0d7";
}

.fa-excel:before {
	content: "\f1c3";
}

.fa-file:before {
	content: "\f016";
}

.fa-pdf:before {
	content: "\f1c1";
}

.fa-word-doc:before {
	content: "\f1c2";
}

.fa-image:before {
	content: "\f1c5";
}

.fa-zip:before {
	content: "\f1c6";
}

.fa-single-left:before {
	content: "\f104";
}

.fa-double-left:before {
	content: "\f100";
}

.fa-single-right:before {
	content: "\f105";
}

.fa-double-right:before {
	content: "\f101";
}

// Iykaa Icons
@charset "UTF-8";

@font-face {
	font-family: $iykaaIcons;
	src:url("fonts/iykaa-icons.eot");
	src:url("fonts/iykaa-icons.eot?#iefix") format("embedded-opentype"),
	url("fonts/iykaa-icons.woff") format("woff"),
	url("fonts/iykaa-icons.ttf") format("truetype"),
	url("fonts/iykaa-icons.svg#iykaa-icons") format("svg");
	font-weight: normal;
	font-style: normal;
 
}

[data-icon]:before {
	font-family: "iykaa-icons" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "iykaa-icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-icon {
	width: 40px;
	font-size: 20px;
	float: left;
	color: $secondary;
	text-align: center;
	padding-top: 3px;
	
	&.large {
		padding-top: 10px;
		font-size: 30px;
	}
	&.x-large {
		font-size: 46px;
		width: 100%;
	}
	&.login {
		background-color: $secondary;
		color: $primary;
		text-align: center;
		float: none;
		margin: 6px 0px;
		padding: 8px;
		border-radius: 60px;
		position: absolute;
		right: 6px;
		width: 45px;
		z-index: -1;
		top: -2px;
	}
}

.icon-ii-name:before {
  content: "\61";
}
.icon-ii-cog:before {
  content: "\62";
}
.icon-ii-chevron-right:before {
  content: "\63";
}
.icon-ii-download:before {
  content: "\64";
}
.icon-ii-contacts:before {
  content: "\65";
}
.icon-ii-user:before {
  content: "\66";
}
.icon-ii-logout:before {
  content: "\67";
}
.icon-ii-close:before {
  content: "\68";
}
.icon-ii-envelope:before {
  content: "\69";
}
.icon-ii-menu:before {
  content: "\6a";
}
.icon-ii-share:before {
  content: "\6b";
}
.icon-ii-location:before {
  content: "\6c";
}
.icon-ii-user-group:before {
  content: "\6d";
}
.icon-ii-search:before {
  content: "\6e";
}
.icon-ii-phone:before {
  content: "\6f";
}
.icon-ii-chevron-down:before {
  content: "\70";
}
.icon-ii-whats-happening:before {
  content: "\71";
}
.icon-ii-home:before {
  content: "\72";
}
.icon-ii-status:before {
  content: "\73";
}
.icon-ii-face:before {
  content: "\74";
}
.icon-ii-note:before {
  content: "\75";
}
.icon-ii-open-lock:before {
  content: "\76";
}
.icon-ii-notification:before {
  content: "\77";
}
.icon-ii-play:before {
  content: "\78";
}
.icon-ii-library:before {
  content: "\79";
}
.icon-ii-information:before {
  content: "\7a";
}
.icon-ii-key:before {
  content: "\41";
}
.icon-ii-edit:before {
  content: "\42";
}
.icon-ii-clipboard:before {
  content: "\43";
}