.comp {
	.slider {
		li {
			background-position: center center;
			background-size: cover;
			height: 480px;
			
			@media(max-width: $tp) {
				height: 300px;
			}
			
			@media(max-width: $mp) {
				height: 180px;
			}
			
			.inner {
				height: 480px;
				
				@media(max-width: $tp) {
					height: 300px;
					padding: $spacer 0;
				}
				
				@media(max-width: $ml) {
					height: 180px;
					padding: $spacer 0;
				}
			}
		}
		
		.owl-prev, .owl-next {
			background-color: rgba($primary, 0.75);
		}
	}
	
	.inner {
		padding: $spacer;
		
		&.primary {
			background: rgba($primary, 0.2);
			color: $secondary;
		}
		
		&.secondary {
			background: rgba($secondary, 0.2);
			color: $primary;
		}
		
		&.tertiary {
			background: rgba($tertiary, 0.2);
			color: $bodyText;
		}
	}
}