.comp-00401 {
	padding: $spacer * 2 0 $spacer;
	
	strong {
		@include responsive-font(2vw, 18px, 24px);
		@include responsive-lineheight(3vw, 24px, 30px);
		margin-bottom: $spacer;
		display: block;
	}
	
	@media(max-width: $tl) {
		padding: $spacer 0 0;
	}
}