.comp-00502 {
	h3 {
		margin-bottom: 0;
	}
	
	.find-out-more {
	
		.cta {
			margin-top: 0;
			margin-bottom: $spacer;
			display: block;
	
			&.secondary {
				font-weight: bold;
				background: $primary + #555555;
				color: $bodyText;
				width: 90%;
				float: left;
			}
		}
		
		.chevron {
			background: $primaryDark;
			color: $bodyText;
			padding: $spacer / 2 $spacer / 4;
			font-family: "iykaa-icons";
			font-size: 20px;
			width: 10%;
			text-align: center;
			float: right;
		}
		
		&:hover, &:focus {
			.cta {
					background: $secondary;
					color: $primary;
					padding-left: $spacer * 1.5;
				}
			.chevron {
				background-color: $secondary - #333333;
				color: $primary;
			}
		}
	}
	
}