.comp-00601 {
	h3 {
		margin-bottom: 0;
	}
	
	.find-out-more {
	
		.cta {
			margin-top: 0;
			margin-bottom: $spacer;
			display: block;
	
			&.secondary {
				font-weight: bold;
				background: $primary + #555555;
				color: $bodyText;
				width: 90%;
				float: left;
			}
		}
		
		.chevron {
			background: $primaryDark;
			color: $bodyText;
			padding: $spacer / 2 $spacer / 4;
			font-family: "iykaa-icons";
			font-size: 20px;
			width: 10%;
			text-align: center;
			float: right;
		}
		
		&:hover, &:focus {
			.cta {
					background: $secondary;
					color: $primary;
					padding-left: $spacer * 1.5;
				}
			.chevron {
				background-color: $secondary - #333333;
				color: $primary;
			}
		}
	}
	
	.inner {
		h4 {
			@include responsive-font(2vw, 18px, 24px);
			@include responsive-lineheight(3vw, 24px, 30px);
			margin-bottom: 0;
		}
		
		p {
			@include responsive-font(2vw, 14px, 14px);
			@include responsive-lineheight(3vw, 18px, 18px);
			overflow: hidden;
			
			@media(max-width:600px) {
				max-height: 55px;
			}
		}
		
		&.tertiary {
			@include alpha-attribute('background-color', rgba($primary, 0.85), black);
		}
	}
	
	.slides {
		.owl-controls {
			display: none;
		}
	}
}