.dms {
	iframe {
		width: 100%;
		height: 720px;
		
		.update-nag {
			display: none !important;
		}
	}
	
	select {
		border: none;
	}
	
	input[type="submit"] {
		background-color: $secondary;
		color: $primary;
		width: 100%;
		border-width: 2px;
		border-radius: $spacer / 4;
		
		&:hover, &:focus {
			background-color: transparent;
			color: $secondary !important;
			border-color: $secondary;
		}
	}
	
	select {
		font-weight: bold;
		margin-bottom: 0;
		padding: $spacer / 4 $spacer / 2;
		
		option {
			font-weight: normal;
			
			&:first-child {
				font-weight: bold;
			}
		}
	}
	
	.pagination {
		text-align: center;
		margin-bottom: $spacer;
		margin-top: $spacer;
		border-radius: $spacer / 4;
		
		.screen-reader-text {
			display: none;
		}
		
		.page-numbers, li {
			background-color: $primary;
			text-align: center;
			padding: $spacer / 2;
			display: inline-block;
			border: 1px solid $bgColour + #111111;
			
			&:hover {
				background-color: $primary + #111111;
			}
			
			&.active {
				background-color: $primary + #111111;
				
				&:hover {
					background-color: $primary + #222222;
				}
			}
		}
		
		.fa {
			margin: 0;
		}
		
		.next, .previous {
			background-color: $secondary;
			color: $primary;
			
			&:hover {
				background-color: $secondary + #111111;
			}
		}
		
		&:after {
			clear: both;
			content: " ";
			display: table;
		}
	}
	
	.cta {
		border-style: solid;
		border-width: 2px;
	}
	
	.dms-revisions {
		margin-top: $spacer * 4;
	}
	
	.options {
		background-color: $secondary;
		padding: $spacer / 2 $spacer;
	}
}

.dms-files {
	margin-bottom: $spacer * 2;
	
	thead, tfoot {
		a {
			color: $primary;
			display: block;
		}
		
		td {
			background-color: $secondary;
			color: $primary;
		}
	}
	
	.cta {
		margin: 0;
		border: 2px solid;
	}
}