input, 
textarea, 
select, 
button,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="url"] {
	@include alpha-attribute('background-color', rgba($contrast, 0.35), black);
	color: $bodyText;
	font-family: $secondaryFont;
	font-size: 16px;
	width: 100%;
	padding: $spacer / 2;
	margin-bottom: $spacer;
	border-radius: 0;
	border: 0;
	border-bottom: 2px solid $secondary;
	cursor: pointer;
	@include vendor-prefix('appearance','none');
	
	&:-moz-placeholder {
		color: $bodyText;
	}
	
	&::-moz-placeholder {
		color: $bodyText;
	}
	
	&::-ms-placeholder {
		color: $bodyText;
	}
	
	&::-webkit-input-placeholder {
		color: $bodyText;
	}
	
	// Sizes
	&.size-s {
		padding: $spacer / 2;
	}
	
	&.size-m {
		padding: $spacer;
	}
	
	&.size-l {
		padding: $spacer * 1.5;
	}
	
	// Background colours
	&.primary {
		background: $primary;
		color: $secondary;
		
		&:-moz-placeholder {
			color: $secondary;
		}
		
		&::-moz-placeholder {
			color: $secondary;
		}
		
		&::-ms-placeholder {
			color: $secondary;
		}
		
		&::-webkit-input-placeholder {
			color: $secondary;
		}
	}
	
	&.secondary {
		background: $secondary;
	}
	
	&.tertiary {
		background: $tertiary;
		color: $secondary;
		
		&:-moz-placeholder {
			color: $secondary;
		}
		
		&::-moz-placeholder {
			color: $secondary;
		}
		
		&::-ms-placeholder {
			color: $secondary;
		}
		
		&::-webkit-input-placeholder {
			color: $secondary;
		}
	}
	
	&.text-primary {
		border-color: $primary;
	}
	
	&.text-secondary {
		border-color: $secondary;
	}
	
	&.text-tertiary {
		border-color: $tertiary;
	}
	
	// Border colours
	&.border-p {
		border-color: $primary;
	}
	
	&.border-s {
		border-color: $secondary;
	}
	
	&.border-t {
		border-color: $tertiary;
	}
}

select {
	background-image: url('assets/select-arrow-white-bg.png');
	background-position: right center;
	background-repeat: no-repeat;
	border: 1px solid #ffffff;
}

.acf-ui-datepicker {
	select {
		background-image: none;
		padding: 0;
		border: none;
		-webkit-appearance: textarea;
		-moz-appearance: menuradio;
		appearance: textarea;
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}

input[type="submit"], input[type="reset"], input[type="button"] {
	cursor: pointer;
	padding: $spacer / 2;
	margin-top: $spacer / 2;
	display: block;
	border-radius: $spacer;
	border: 1px solid;
	border-color: $secondary;
	background: none;
	color: $secondary;
	width: 50%; 
	margin: 0 auto;
	@include vendor-prefix('transition','all ease 0.3s');
	
	&:hover {
		border-color: $primary;
		background-color: $secondary;
		color: $primary !important;
	}
}

input[type="checkbox"] {
	appearance: checkbox;
	-moz-appearance: checkbox;
	-webkit-appearance: checkbox;
}

fieldset {
	margin-top: $spacer;
	margin-bottom: $spacer;
	border: 0;
}

.acf-hidden {
	display: none;
}

.acf-table {
	background-color: transparent !important;
	
	tr {
		background-color: transparent !important;
		color: $bodyText !important;
		border-bottom: none !important;
		
		&:first-of-type {
			background-color: transparent !important;
		}
		
		&:nth-child(2n) {
			color: $bodyText !important;
		}
		
		&:hover {
			.acf-fields {
				background-color: transparent !important;
			}
		}
	}
	
	thead {
		display: none;
	}
	
	td {
		width: 100%;
		margin: 0;
	}
	
	input {
		border-bottom: none !important;
	}
	
	.acf-label {
		margin: 0 !important;
		border-bottom: none !important;
	}
}

.acf-actions {
	.acf-button {
		cursor: pointer;
		
		&:hover {
			color: $bodyText - #222222;
		}
	}
}

.acf-row {
	.acf-field {
		width: 100% !important;
	}
}

.acf-field-repeater {
	width: 80% !important;
}

.checkbox {
	background-color: rgba($secondary, 0.25);
	margin-bottom: $spacer;
	padding: $spacer / 2 $spacer / 2 0;
	height: 180px;
	overflow: scroll;
	border: 1px solid $secondary;
	@include vendor-prefix('border-radius', '5px');
}