.further-info {
	margin-top: $spacer * 3;
}

.further-reading-library, .further-reading, .similar-notifications, .whats-happening, .results {
	margin-top: $spacer / 2;
			
	.inner {
		background-color: $primary;
		padding: $spacer;
		float: left;
		margin-bottom: 0;
		height: $spacer * 8;
		width: 100%;
		
		h4 {
			@include responsive-font(2vw, 18px, 24px);
			@include responsive-lineheight(3vw, 24px, 30px);
			margin-bottom: 0;
		}
		
		hr {
			background-color: $secondary;
		}
		
		p {
			@include responsive-font(2vw, 14px, 14px);
			@include responsive-lineheight(3vw, 18px, 18px);
			padding: 0px;
			overflow: hidden;
			
			@media(max-width:600px) {
				max-height: 55px;
			}
		}
		
		@media(max-width:$ml) {
			
			p {
				font-size: 12px;
			}
			
			hr {
				margin: 5px 0px;
			}
		}
	}
	
	.news-thumbnail {
		margin-top: $spacer;
		height: $spacer * 12;
		overflow: hidden;
		background-color: $secondary;
		background-clip: content-box;
		display: table;
		
		.image-wrapper {
			display: table-cell;
			vertical-align: middle;
			
			img {
				padding: $spacer / 2;
				max-height: $spacer * 12;
				@include vendor-prefix('object-fit','contain');
	
				@media(max-width:$tp){
					max-height: $spacer * 6;
				}
			}
		}
			
		@media(max-width:$mp) {
			height: $spacer * 10;
		}
		
		&.default {
			background-color: $secondary;
			background-clip: content-box;
			
			img {
				padding: 4vw;
				opacity: 0.8;
				@media(max-width:$ml) {
					padding: 15vw;
				}
			}
		}
		
		@media(max-width:$ml) {
			display: none;
		}
	}
	
	.news-thumbnail-mobile {
		display: none;
		height: $spacer * 8;
		background-position: center center;
		background-repeat: no-repeat;
		background-clip: content-box;
		background-size: cover;
		background-color: $bodyText;
		background-clip: content-box;
		padding: 0 $spacer / 2;
		
		&.default {
			background-color: $secondary;
			background-clip: content-box;
			background-size: 90%;
			
			img {
				padding: 4vw;
				opacity: 0.8;
				@media(max-width:$ml) {
					padding: 15vw;
				}
			}
		}
		
		@media(max-width:$ml) {
			display: block;
		}
	}
	
	.gapless {
		padding: 0;
		margin-top: 0;
	}
}

.whats-happening {
	.inner {
		height: $spacer * 10;
		
		p {
			margin-bottom: 0px;
		}
	}
}

.similar-notifications {
	.results {
		.single-notification {
			.inner {
				background-color: $primary;
				border-left: 5px solid $primary;
				width: 100%;
				
				hr {
					background-color: $secondary;
				}
				
				&.high, &.error {
					border-color: $stop;
				}
				
				&.medium {
					border-color: $warning;
				}
				
				&.low {
					border-color: $success;
				}
				
				&:hover {
					background-color: $primary + #111111;
					
					&.high, &.error {
						border-color: $stop - #111111;
					}
					
					&.medium {
						border-color: $warning - #111111;
					}
					
					&.low {
						border-color: $success - #111111;
					}
					
					.inner {
						border-color: $primary + #111111;
					}
				}
			}
		}
		
		.chevron {
			&.high, &.error {
				background-color: $stop;
			}
			
			&.medium {
				background-color: $warning;
			}
			
			&.low {
				background-color: $success;
			}
		}
	}
}
