.page-template-page-introduction {
	background: $secondary;
	padding-left: 0 !important;
		
	header {
		display: none;
	}
	
	.slide {
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		padding-top: 10vh;
		font-size: 18px;
		background-color: $secondary;
		
		.swipe {
			color: $secondary;
		}
		
		@media(max-width:$ml) {
			padding: $spacer * 2;
		}
	}
	
	#intro-slides {
		
		h1, h2, p, .i-icon {
			color: $primary;
		}
		.i-icon {
			font-size: inherit !important;
			padding: 6px;

			@media(max-width:$ml) {
				padding: 0px 6px;
			}
		}
		
		h1, h2 {
			@include responsive-font(5vw, 24px, 48px);
		}
		
		hr {
			background-color: $primary;
		}
		
		p {
			text-align: center;
			margin: $spacer;
			font-weight: 400;
		}
		
		section {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}
		
		img {
			width: 100%;
			height: auto;
			margin: $spacer 0px;
			border: 1px solid $secondary;
		}
		
		.screenshot {
			margin: 0;
			border: 1px solid $primary + #333;
			width: 100%;
			height: auto;
			
			@include vendor-prefix('filter','drop-shadow(0px 0px 10px rgba(0,0,0,0.5))');
			
			&.desktop, &.tablet, &.phone {
				display: none;
			}
			
			&.desktop {
				@media(min-width:$dt) {
					display: block;
				}
			}
			&.tablet {
				@media(max-width:$tl) {
					display: block;
				}
				@media(max-width:$tp) {
					display: none;
				}
			}
			&.phone {
				@media(max-width:$tp) {
					display: block;
				}
			}
			
			&.space {
				margin: $spacer 0px;
			}
		}
		
		.owl-item {
			opacity:0;  /* make things invisible upon start */
		}
		
		.owl-prev, .owl-next {
			margin-top: 25%;
			@media(max-width:$ml) {
				margin-top: 50%;
			}
		}
		
		.active {
			min-width: 100vw;
	
			@include vendor-prefix('animation','fadeIn ease-in 1');
			@include vendor-prefix('animation-fill-mode','forwards');
			@include vendor-prefix('animation-duration','0.5s');
			
				@-webkit-keyframes fadeIn {
					from {
						opacity: 0;
					}
					
					to {
						opacity: 1;
					}
				}
				@keyframes fadeIn {
					from {
						opacity: 0;
					}
					
					to {
						opacity: 1;
					}
				}
		}
	}
	
	.comms-types {
		list-style: 0;
		padding: 0;
		margin: 0;
		
		li {
			padding: $spacer * 1.5;
			margin-bottom: $spacer / 2;
			width: 100%;
			display: block;
			text-align: center;
			font-size: 28px;
			color: $primary;
			width: 70%;
			margin-left: 15%;
			border-bottom: 1px solid $primary;
			
			@media(max-width:$ml) {
				width: 100%;
				margin-left: 0;
				font-size: 20px;
			}
				
			&.news, &.contacts, &.library {
				&:before {
					font-family: "iykaa-icons";
					float: left;
					margin-top: $spacer / 4;
				}
			}
			&.news {
				&:before {
					content: "\71";
				}
			}
			&.contacts {
				&:before {
					content: "\65";
				}				
			}
			&.library {
				&:before {
					content: "\79";
				}
			}
		}

		&.border {
			li {
				@include alpha-attribute('background-color', rgba($primary, 0.5), white);
				border: 1px solid $secondary;
				border-radius: 50px;
			}
		}
		a {
			text-decoration: none;
			font-weight: bold;
			.i-icon {
				padding: 0px 20px;
			}
		}
	}
}