.cta {
	text-decoration: none;
	display: inline-block;
	margin-top: $spacer / 2;
	margin-bottom: $spacer / 2;
	padding: $spacer / 2 $spacer * 2;
	
	@include vendor-prefix('transition', 'all ease 0.3s');
	
	&.size-xs {
		padding: $spacer / 3 $spacer / 2;
	}
	
	&.size-s {
		padding: $spacer / 2 $spacer;
	}
	
	&.size-m {
		padding: $spacer $spacer * 1.5;
	}
	
	&.size-l {
		padding: $spacer * 1.5 $spacer * 3;
	}
	
	&.size-xl {
		padding: $spacer * 3 $spacer * 4;
	}
	
	&.full {
		text-align: center;
		display: block;
		width: 100%;
	}
	
	&.outline {
		border-style: solid;
		border-width: 2px;
	}
	
	&.dashed {
		border-style: dashed;
	}
	
	&.primary {
		background-color: $primary;
		color: $secondary;
		border-color: $primary;
		
		&.outline {
			background-color: transparent;
			color: $primary;
			border-color: $primary;
			
			&:hover, &:focus {
				color: #ffffff;
			}
		}
		
		&:hover, &:focus {
			background: $primary - #111111;
		}
	}
	
	&.secondary {
		background-color: $secondary;
		color: $primary;
		border-color: $secondary;
		
		&.outline {
			background-color: transparent;
			color: $secondary;
			border-color: $secondary;
			
			&:hover, &:focus {
				color: $primary;
			}
		}
		
		&:hover, &:focus {
			background: $secondary - #111111;
		}
	}
	
	&.tertiary {
		background-color: $tertiary;
		color: $primary;
		border-color: $tertiary;
		
		&.outline {
			background-color: transparent;
			color: $tertiary;
			border-color: $tertiary;
			
			&:hover, &:focus {
				color: #ffffff;
			}
		}
		
		&:hover, &:focus {
			background: $tertiary - #111111;
		}
	}
	
	&.info {
		background-color: $info;
		color: #ffffff;
		border-color: $info;
		
		&.outline {
			background-color: transparent;
			color: $info;
			border-color: $info;
			
			&:hover, &:focus {
				color: #ffffff;
			}
		}
		
		&:hover, &:focus {
			background: $info - #111111;
		}
	}
	
	&.success {
		background-color: $success;
		color: #ffffff;
		border-color: $success;
		
		&.outline {
			background-color: transparent;
			color: $success;
			border-color: $success;
			
			&:hover, &:focus {
				color: #ffffff;
			}
		}
		
		&:hover, &:focus {
			background: $success - #111111;
		}
	}
	
	&.warning {
		background-color: $warning;
		color: #ffffff;
		border-color: $warning;
		
		&.outline {
			background-color: transparent;
			color: $warning;
			border-color: $warning;
			
			&:hover, &:focus {
				color: #ffffff;
			}
		}
		
		&:hover, &:focus {
			background: $warning - #111111;
		}
	}
	
	&.stop {
		background-color: $stop;
		color: #ffffff;
		border-color: $stop;
		
		&.outline {
			background-color: transparent;
			color: $stop;
			border-color: $stop;
			
			&:hover, &:focus {
				color: #ffffff;
			}
		}
		
		&:hover, &:focus {
			background: $stop - #111111;
		}
	}
	
	&.white {
		background-color: #ffffff;
		color: $primary;
		border-color: #ffffff;
		
		&.outline {
			background-color: transparent;
			color: #ffffff;
			border-color: #ffffff;
			
			&:hover, &:focus {
				color: $primary;
			}
		}
		
		&:hover, &:focus {
			background: #ffffff - #111111;
		}
	}
	
	&.corners {
		@include vendor-prefix('border-radius', '3px');
	}
	
	&.border-p {
		border-color: $primary;
	}
	
	&.border-s {
		border-color: $secondary;
	}
	
	&.border-t {
		border-color: $tertiary;
	}
	
	&.full {
		width: 100%;
	}
	
	&.align-c {
		text-align: center;
	}
	
	&.align-r {
		text-align: right;
	}
}

.forgot {
	color: #ffffff;
	
	&:hover {
		text-decoration: underline;
	}
}