nav {
	&.side-nav {
		ul {
			li {
				position: relative;
	
				.sub-menu {
					display: none;
					li {
						a {
							font-size: 14px;
							padding-left: $spacer;
						}
						
						&:first-child {
							border-top: none;
						}
					}
				}

				.menu_updown {
					float: left;
					cursor: pointer;
					color: $secondary;
					font-family: "iykaa-icons";
					font-size: 24px;
					margin-right: $spacer / 4;
					
					.chevron {
						padding: 13px 5px;
						@include vendor-prefix('transform', 'rotateZ(0deg)');
					}
					
					&:hover {
						.chevron {
							color: $secondary;
							@include vendor-prefix('transform', 'rotateZ(90deg)');
						}
					}
				}
				
				.menu_up {
					.chevron {
						color: $secondary;
						@include vendor-prefix('transform', 'rotateZ(-90deg)');
					}
				}
				
				a {
					border-bottom: 1px solid rgba(255, 255, 255, 0.1);
					
					&:first-child {
						border-top: 1px solid rgba(255, 255, 255, 0.1);
					}
					
					&:before {
						color: $secondary;
						font-family: "iykaa-icons";
						font-size: 24px;
						position: absolute;
						top: 15px;
						right: 10px;
					}
				}
				
				ul {
					li {
						a {
							&:before {
								color: $tertiary;
							}
						}
					}
				}
				// Home
				&.home {
					a {
						&:before {
							content: "\72";
						}
					}
				}
				
				// Notifications
				&.notifications {
					margin-bottom: 0;
					a {
						&:before {
							content: "\77";
						}
					}
				}
				
				// My Profile
				&.my-profile {
					a {
						&:before {
							content: "\74";
						}
					}
				}
				
				// Edit Profile
				&.edit-profile {
					a {
						&:before {
							content: "\42";
						}
					}
				}
				
				// Contacts
				&.contacts {
					a {
						&:before {
							content: "\65";
						}
					}
				}
				
				// News
				&.news {
					a {
						&:before {
							content: "\71";
						}
					}
				}
				
				// Library
				&.library {
					a {
						&:before {
							content: "\79";
						}
					}
				}
				
				// Information
				&.information {
					a {
						&:before {
							content: "\7a";
						}
					}
				}
				
				// Downloads
				&.downloads {
					a {
						&:before {
							content: "\64";
						}
					}
				}
				
				// Videos
				&.videos {
					a {
						&:before {
							content: "\78";
						}
					}
				}
				
				// Locations
				&.locations {
					a {
						&:before {
							content: "\6c";
						}
					}
				}
			}
		}
	}
}

.admin-menu {
	li {
		position: relative;
		
		a {
			&:before {
				color: $secondary;
				font-family: "iykaa-icons";
				font-size: 24px;
				position: absolute;
				top: 15px;
				right: 10px;
			}
		}
		
		ul {
			li {
				a {
					&:before {
						color: $tertiary;
					}
				}
			}
		}
		
		// Admin Menu
		&.admin-area {
			a {
				&:before {
					content: "\62";
				}
			}
		}
	}
}

#menu-trigger {
	background: $secondary;
	text-align: right;
	width: 100%;
	cursor: pointer;
	
	img {
		padding-right: $spacer * 1.5; // Change depending on deployment logo
		
		@media (max-width: $tl) {
			padding-right: 0;
			padding: 0 25%;
		}
	}
}

.menu-button {
	display: inline-block;
	background-color: transparent;
	position: absolute;
	right: 8px;
	border-radius: 48px;
	z-index: 100;
	top: 10px;
	
	@media (max-width: $tl) {
		display: none;
	}
}

.burger-icon {
	background: transparent;
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
	top: 30px;
	right: 5px;
}

.burger-icon, .burger-icon:before, .burger-icon:after {
	display: block;
	width: 18px;
	height: 3px;
}

.burger-icon, .burger-icon:before, .burger-icon:after {
	background-color: $primary;
}

.burger-icon:before, .burger-icon:after {
	position: absolute;
	content: "";
}

.burger-icon:before {
	top: -6px;
	// @include vendor-prefix('transform', 'translateY(0px) rotate(45deg)');
}

.burger-icon:after {
	top: 6px;
	// @include vendor-prefix('transform', 'translateY(0px) rotate(-45deg)');
}

.menu-button.open {
	border-radius: 48px;
}

.burger-icon.open {
	background-color: transparent;
	top: 36px;
	@include vendor-prefix('transform', 'translateY(0px) rotate(-360deg)');
}

.burger-icon.open:before {
	background-color: $primary;
	width: 18px;
	@include vendor-prefix('transform', 'translateY(0px) rotate(45deg)');
}

.burger-icon.open:after {
	background-color: $primary;
	width: 18px;
	top: 0;
	@include vendor-prefix('transform', 'translateY(-6px) rotate(-45deg)');
}

.slide-menu {
	@include alpha-attribute('background-color', rgba($contrast, 0.4), black);
	width: 280px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 2;
	opacity: 1;
	@include vendor-prefix('box-shadow', '5px 0px 10px 0px rgba(0, 0, 0, 0.25)');
	@include vendor-prefix('backdrop-filter', 'blur(10px)');
	-ms-overflow-style: none;
	
	&::-webkit-scrollbar {
		width: 0 !important;
	}
	
	@media(max-width: $tl){
		@include alpha-attribute('background-color', rgba($contrast, 0.8), black);
		left: auto;
		opacity: 0;
	}
	
	a {
		color: $bodyText;
		font-size: 16px;
		text-decoration: none;
		display: block;
		padding: $spacer / 1.5 $spacer / 2;
		transition: 0.3s;
		
		&:hover {
			background: $primary - #222222;
			color: $bodyText - #222222;
			&:before {
				color: $secondary !important;
			}
		}
	}
	
	.btn-close {
		padding: $spacer / 2;
		position: relative;
		top: 0;
		right: 0;
	}
	
	@media screen and (max-height: 450px) {
		padding-top: 15px;
		
		a {
			font-size: 18px;
		}
	}
}

.login {
	width: 100%;
	
	small {
		text-align: center;
		margin-top: $spacer / 2;
		
		a {
			font-size: 100%;
			display: inline-block;
			padding: 0;
			border: none;
			background: none;
			&:hover {
				background-color: $secondary;
				color: $primary;
			}
		}
	}
	
	a {
		background: $primary;
		font-size: 14px;
		text-decoration: none;
		padding: $spacer / 2;
		display: block;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 0 0 0 3px;
		
		&.logout {
			&:after {
				color: $secondary;
				font-family: "iykaa-icons";
				font-size: 24px;
				content: "\67";
				float: right;
				top: 10px;
				right: 9px;
				
				@media(max-width:$tl - 1) {
					top: auto;
				}
			}
		}
		
		&:hover {
			background: $primary - #222222;
		}
	}
	
	@media(min-height: 768px) {
		position: absolute;
		bottom: 0;
	}
}

.mobile-bottom {
	@include alpha-attribute('background-color', rgba($primary, 0.9), black);
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	z-index: 3;
	max-height: 44px;
	@include vendor-prefix('filter', 'drop-shadow(0px 0px 8px rgba(0,0,0,0.75))');
	@include vendor-prefix('backdrop-filter', 'blur(10px)');
	
	&.with-back {
		li {
			width: calc(100vw / 6);
		}
	}
	
	li {
		width: calc(100vw / 5);
		position: relative;
		float: left;
		border-top: 1px solid rgba($secondary, 0.1);
		border-left: 1px solid rgba($secondary, 0.1);
		
		a {
			padding: 14px 0px 10px;
			display: block;
			
			&:before {
				color: $secondary;
				font-family: "iykaa-icons";
				font-size: 24px;
			}
		}

		&.back {
			@include alpha-attribute('background-color', rgba($secondary, 0.9), black); 
			@include vendor-prefix('transform','rotateZ(180deg)');
			a {
				&:before {
					color: $primary;
					content: "\63";
					bottom: -4px;
					position: relative;
					font-size: 26px;
				}
			}
		}		
		&.home {
			a {
				&:before {
					content: "\72";
				}
			}
		}
		&.notifications {
			a {
				&:before {
					content: "\77";
				}
			}
		}
		&.contacts {
			a {
				&:before {
					content: "\65";
				}
			}
		}
		&.happening {
			a {
				&:before {
					content: "\71";
				}
			}
		}
		&.library {
			a {
				&:before {
					content: "\79";
				}
			}
		}
		&.menu {
			@include alpha-attribute('background-color', rgba($secondary, 0.9), black); 
			color: $primary;
			a {
				&:before {
					color: $primary;
					font-size: 26px;
					content: "\6a";
				}
			}
		}
		
		&:first-child {
			border-left: none;
		}
		
		&:hover {
			background: $primary - #111111;
				&.menu {
					@include alpha-attribute('background-color', rgba($secondary, 0.9), black); 
				}
		}
	}
	
	.status {
		text-align: center;
		margin: 0;
		padding: 6px 0;
		
		.header-availability {
			background-position: left center;
			text-align: center;
			margin: 0;
			float: none;
			padding-left: $spacer * 2;
			
			@media(max-width: $tp - 1) {
				background-position: center center;
				color: transparent;
			}
		}
	}
	
	@media(min-width:1260px) {
		display: none;
	}
}