// List of Notifications
.notifications {
	color: #ffffff;
	margin-bottom: $spacer;
	
	@media(max-width:$tp - 1) {
		background-position-x: 95%;
	}

	&.error {
		margin-bottom: $spacer;
	}
	
	&.high, &.error, &.medium, &.low {
		background-clip: content-box;
		
		.inner {
			padding: $spacer;
			border-left: $spacer / 4 solid;
		}
	}
	
	&.high, &.error {
		.inner {
			border-color: $stop;
		}
	}
	
	&.medium {
		.inner {
			border-color: $warning;
		}
	}
	
	&.low {
		.inner {
			border-color: $success;
		}
	}
	
	.results {
		.notifications {
			background-color: $primary;
			background-image: url('assets/chevron-right.svg');
			background-position: right center;
			background-repeat: no-repeat;
			background-position-x: 98.5%;
			background-size: 30px;
			
			@media(max-width:$tp - 1) {
				background-position-x: 96%;
			}
			
			&.high, &.error {
				background-color: $stop;
			}
			
			&.medium {
				background-color: $warning;
			}
			
			&.low {
				background-color: $success;
			}
			
			&:hover {
				background-color: $primary + #111111;
				
				&.high, &.error {
					background-color: $stop - #111111;
				}
				
				&.medium {
					background-color: $warning - #111111;
				}
				
				&.low {
					background-color: $success - #111111;
				}
				
				.inner {
					background-color: $primary + #111111;
				}
			}
		}
		
		.inner {
			background-color: $primary;
			padding: $spacer;
			float: left;
			width: 95%;
			margin-bottom: 0;
			
			@media(max-width:$tp - 1) {
				width: calc(100% - 40px);
			}
			
			h4 {
				@include responsive-font(2vw, 18px, 24px);
				@include responsive-lineheight(3vw, 24px, 30px);
				margin-bottom: 0;
			}
			
			p {
				@include responsive-font(2vw, 14px, 14px);
				@include responsive-lineheight(3vw, 18px, 18px);
				padding: 0px;
				overflow: hidden;
				
				@media(max-width:600px) {
					max-height: 55px;
				}
			}
		}
	}
}

// Header Area Notifications
.notification {
	padding: $spacer / 2 0;
	margin-bottom: $spacer / 2;
	
	h3:before {
		font-family: "iykaa-icons";
		content: "\77";
		font-weight: normal;
		margin-right: $spacer / 2;
	    float: left;
	    font-size: 35px;
	    margin-top: 3px;
	}
	
	h3 {
		@include responsive-font(2vw, 18px, 24px);
		@include responsive-lineheight(3vw, 24px, 30px);
		font-weight: bold;
		margin: 0;
	}
	
	span {
		font-size: 18px;
		font-weight: normal;
		padding-left: $spacer / 2;
			&.rich {
				visibility: hidden;
				display: none;
				@media(min-width:$tl) {
					visibility: visible;
					display: inline;
				}
			}
			&.mobile {
				visibility: hidden;
				display: none;
				@media(max-width:$tl - 1) {
					visibility: visible;
					display: inline;
				}
			}
	}
	
	hr {
		margin: 0 0 $spacer;
	}
	
	.details, .excerpt {
		font-family: $headline;
		
		@media(max-width:$mp - 1) {
			h3, p, span {
				font-size: 14px;
			}
		}
	}
	
	.excerpt {
		@include responsive-font(1vw, 16px, 24px);
		@include responsive-lineheight(1.2vw, 20px, 30px);
		font-weight: normal;
		p {
			text-overflow: ellipsis;
			width: 100%;
			display: inline-block;
			overflow: hidden;
			white-space: pre;
			margin-left: 34px;
			@media(max-width:$tl) {
				margin-left: 0;
				font-weight: 700;
			}
		}
	}
	
	&.error {
		margin-bottom: $spacer;
		padding: $spacer;
	}

	&.high, &.error, &.medium, &.low {
		@include vendor-prefix('transition', 'all ease 0.3s');
	}
	
	&.high, &.error {
		background-color: $stop;
		&:hover {
			background-color: $stop - #111;
		}
	}
	
	&.medium {
		background-color: $warning;
		&:hover {
			background-color: $warning - #111;
		}
	}
	
	&.low {
		background-color: $success;
		&:hover {
			background-color: $success - #111;
		}
	}
}