.page-content {
	padding-top: $spacer;
	
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: $spacer / 2;
	}

	h1 {
		@include responsive-font(5vw, 24px, 40px);
		@include responsive-lineheight(6vw, 30px, 56px);
	}
	
	h2 {
		@include responsive-font(4.5vw, 20px, 36px);
		@include responsive-lineheight(5vw, 24px, 42px);
	}
	
	h3, h4 {
		@include responsive-font(4vw, 18px, 24px);
		@include responsive-lineheight(5vw, 24px, 38px);
	}
	
	h5, h6 {
		@include responsive-font(2vw, 14px, 18px);
		@include responsive-lineheight(3vw, 18px, 24px);
	}
	
	h4 {
		@media (max-width:$ml) {
			font-weight: 600;
		}
	}
}

.page-content {
	.main {
		span {
			color: #ffffff !important;
			font-family: $secondaryFont !important;
			font-size: 18px !important;
			line-height: 24px !important;
			
			@media(max-width: $tp - 1) {
				font-size: 14px !important;
				line-height: 20px !important;
			}
		}
		
		p {
			a {
				color: $secondary;
				font-style: italic;
				text-decoration: none;
				border-bottom: 1px solid $secondary;
				
					&:hover, &:visited {
						color: $secondary + #111111;
						border-color: $secondary + #111111;
					}
			}
			strong {
				font-weight: bold;
			}
			
			em {
				font-style: italic;
			}
		}
		img {
			width: 100%;
			height: auto;
			margin-bottom: $spacer;
		}
		.size-full {
			width: 100%;
			height: auto;
		}
		.size-large {
			max-width: 66%;
			max-height: 66%;
		}
		.size-medium {
			max-width: 33%;
			max-height: 33%;
		}
		.size-thumbnail {
			max-width: 15%;
			max-width: 15%;
		}
		.alignright{
			float: right;
			margin: $spacer;
			margin-right: 0px;
		}
		.alignleft {
			float: left;
			margin: $spacer;
			margin-left: 0px;
		}
		.aligncenter {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: $spacer;
			margin-bottom: $spacer;
		}
		ol, ul, table, address {
			font-size: 16px;
			line-height: 24px;
		}
		table {
			margin: $spacer 0px;
			width: 100%;
			background-color: $secondary;
			
			thead {
				border-bottom: 1px solid $bodyText + #aaaaaa;
				color: $secondary;
				background-color: $contrast;
				display: table-header-group;
				
				td {
					word-break: keep-all;
					padding-left: $spacer / 2;
				}
			}
			tr {
				&:nth-child(even) {
					background-color: $secondary;
					color: $contrast;
				}
				&:first-of-type {
					border-bottom: 1px solid $bodyText + #aaaaaa;
					color: $secondary;
					background-color: $contrast;

					
					td {
						word-break: keep-all;
						padding-left: $spacer / 2;
					}
				}
				&:last-of-type {
					border-top: 1px solid $bodyText + #aaaaaa;
				}
			}
			td {
				padding: $spacer / 2;
				vertical-align: middle;
				font-size: 16px;
				line-height: 24px;
				border: 0 !important;
				border-right: 1px solid $bodyText !important;
				
				&:last-of-type {
					border-right: none !important;
				}
				
				p {
					font-size: 16px;
					line-height: 24px;
				}
			}
			
			tfoot {
				background-color: $bodyText + #aaaaaa;
			}
		}
		ol, ul {
			list-style: outside;
			margin-left: $spacer;
			margin-top: $spacer;
			padding-left: $spacer;
			
			@media(max-width:$tp) {
				margin-left: $spacer / 2;
			}
				li {
					margin-bottom: $spacer / 2;
				}
		}
		ol {
			list-style: decimal;
		}
		blockquote {
			padding: $spacer * 2;
			text-align: center;
			color: $primary;
			background-color: $secondary;
			width: 100%;
			display: block;
			margin: $spacer 0px;
			font-weight: 300;
			font-style: italic;
				p {
					font-size: 24px;
					line-height: 32px;
				}
				@media(max-width:$tp) {
					padding: $spacer;
				}
		}
		mark {
			background-color: $secondary;
		}
	
		.pagination {
			span, a {
				display: block;
				float: left;
				padding: $spacer/2;
				color: $secondary;
				font-weight: 700;
				text-decoration: none;
				background-color: $secondary;
				margin-right: $spacer/4;
			}
			.current {
				background-color: $secondary;
			}
		}
		sub {
			vertical-align: sub;
			font-size: 80%;
		}
		sup {
			vertical-align: super;
			font-size: 80%;
		}
		
		.video-container, .wp-video {
			position: relative;
			padding-bottom: 56.25%;
			padding-top: $spacer * 1.5; 
			height: 0; 
			overflow: hidden;
			margin: $spacer 0px;
			
			&.top {
				margin: 0;
				margin-bottom: $spacer;
			}
			
			video, iframe, object, embed, .mejs-container {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.gallery {
			.gallery-item {
				width: 23%; 
				float: left;
				margin-right: 2%;
				margin-bottom: 2%;
				
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
		
		.ajax-loader {
			width: 16px;
			height: 16px;
			margin-left: 49%;
		}
		
		.wpcf7 {
			p {
				font-weight: normal !important;
			}
			
			input, textarea {
				margin: $spacer / 2 0;
			}
			input[type='submit'] {
				width: 50%;
				margin: 0 auto;
			}
		}
		@media(max-width:$ml) {
			min-height: 50vw;
		}
	}
}