#password-one, #password-two {
	margin-bottom: 0;
}

.progress-bar {
	margin-top: -2px;
	margin-bottom: $spacer;
	position: relative;
	width: 0;
	height: 2px;
	transition: 0.5s;
	z-index: 1;
	
	&.weak {
		background-color: $stop;
		width: 33.33333%;
	}
	
	&.good {
		background-color: $warning;
		width: 66.66666%;
	}
	
	&.strong {
		background-color: $success;
		width: 100%;
	}
}

.password-match {
	background-color: $stop;
	margin-top: -2px;
	margin-bottom: $spacer;
	position: relative;
	width: 100%;
	height: 2px;
	transition: 0.5s;
	z-index: 1;
	
	&.match {
		background-color: $success;
	}
}