.search {
	input[type="text"], input[type="search"] {
		width: calc(100% - 200px);
		height: 44px;
		float: left;
		
		@media(max-width: $tp) {
			width: calc(100% - 40px);
		}
	}
	
	button {
		width: 160px;
		height: 44px;
		margin: 0;
		padding: 8px 0px;
		position: relative;
		float: right;
		border: 0;
		border-radius: 0;
		font-weight: bold;
		background-color: rgba($contrast, 0.35) !important;
		border-bottom: 2px solid $secondary;
		color: $bodyText !important;
		
		&:hover {
			background: $secondary !important;
			color: $primary !important;
		}
		
		@media(max-width:$tp) {
			width: 100%;
			margin-bottom: $spacer;
		}
	}
}

.flex-search {
	margin-bottom: $spacer;
	
	form {
		display: flex;
	}
	
	.flex-item {
		margin: 0;
		padding: 10px;
		flex: 1;
	}
}