.super-search {
	display: none;
	@include alpha-attribute('background-color', rgba($secondary, 0.6), black);
	@include vendor-prefix('backdrop-filter', 'blur(10px)');
	
	height: 100vh;
	width: calc(100vw - 280px);
	z-index: 999;
	-ms-overflow-style: none;
	position: absolute;
	
	@media(max-width:$tl) {
		width: 100vw;
	}
	
	.search-wrapper {
		@include alpha-attribute('background-color', rgba($contrast, 0.7), black);
	}
	
	.i-icon, input[type="text"], input[type="search"], input[type="submit"], button {
		background: none !important;
	}
	
	.i-icon {
		padding: 25px 0;
		margin: $spacer 0;
		
		@media(max-width:$tl) {
			padding: 10px 0;
			margin: $spacer / 2 0;
		}
	}
	
	input[type="text"], input[type="search"], input[type="submit"], button {
		padding: $spacer;
		margin: $spacer 0;
		color: $bodyText;
		font-family: $secondaryFont;
		font-size: 24px;
		border-radius: 0;
		border: 0;
		border-bottom: none;
		-webkit-appearance: none;
		
		@media(max-width:$tl) {
			padding: $spacer $spacer / 2;
			margin: $spacer / 2 0;
			font-size: 16px;
		}
	}
	
	button {
		padding: 24px 0;
		height: 100%;
		
		@media(max-width:$tl) {
			width: 100%;
			padding: $spacer / 2 0;
		}
	}
	
	input[type="text"], input[type="search"] {
		width: calc(100% - 200px);
		height: 100%;
		
		&:-moz-placeholder {
			color: $bodyText;
		}
		
		&::-moz-placeholder {
			color: $bodyText;
		}
		
		&::-ms-placeholder {
			color: $bodyText;
		}
		
		&::-webkit-input-placeholder {
			color: $bodyText;
		}
		
		@media(max-width:$tl) {
			width: calc(100% - 40px);
			padding: 0px $spacer / 2;
		}
	}
	
	.results-spacer {
		margin-bottom: $spacer * 2;
	}
}

.search-results-row {
	margin-bottom: $spacer * 2;
	
	h3 {
		@include responsive-font(5vw, 24px, 32px);
		@include responsive-lineheight(6vw, 30px, 48px);
	}
}