table {
	font-size: 12px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	
	td {
		padding: $spacer / 2;
		vertical-align: top;
	}
	
	thead, tfoot {
		td {
			background-color: rgba(0, 0, 0, 0.1);
			font-weight: bold;
			border: 1px solid rgba(255, 255, 255, 0.2);
		}
	}
	
	tbody {
		tr {
			cursor: pointer;
			
			&.full {
				td {
					background-color: rgba($success, 0.1) !important;
				}
			}
			
			&:hover {
				td {
					background-color: rgba(255, 255, 255, 0.025);
				}
				
				&:nth-child(even) {
					td {
						background-color: rgba(255, 255, 255, 0.05);
					}
				}
			}
			
			&:nth-child(even) {
				td {
					background-color: rgba(255, 255, 255, 0.025);
				}
			}
		}
		
		td {
			border-top: 1px solid rgba(255, 255, 255, 0.2);
			border-right: 1px solid rgba(255, 255, 255, 0.2);
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			
			&:last-child {
				border-right: none;
			}
		}
	}
	
	p {
		font-size: 12px;
		line-height: 16px;
		margin-bottom: $spacer / 2;
	}
}

.responsive-table {
	width: 100%;
	overflow-x: scroll;
	
	table {
		min-width: $tl;
	}
}