.page-content {
	// Mainly used for the Feedback form
	.wpcf7 {
		margin: $spacer 0;
		padding: $spacer 0;
		border-top: 2px solid $secondary;
		border-bottom: 2px solid $secondary;
		
		.wpcf7-checkbox {
			.wpcf7-list-item {
				width: calc(100% / 3 - 10px);
				margin: 0;
				margin-top: $spacer / 2;
				margin-right: $spacer / 2;
				padding: $spacer / 2;
				border-bottom: 2px solid $secondary;
				padding-bottom: $spacer / 2;
				@include alpha-attribute('background-color', rgba($contrast, 0.35), black);
				
				label {
					margin: 0;
				}
				
				input[type='checkbox'] {
					width: $spacer * 2;
					margin-top: 0;
				}
			}
		}
	}
}